<%= simple_form_for([@staffable, @staff], html: { class: 'form-inline' }) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(staff.errors.count, "error") %>
        prohibited this staff from being saved:
      </h2>
      <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.input :name %>
    <%= form.input :email, required: true, autofocus: true %>
    <%= form.input :username, required: true %>
    <%= form.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= form.input :password_confirmation, required: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
