<script>
    $(document).ready(function() {
       $(".select").select2({
          language: "he",
          theme: "bootstrap"
      }); });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>

<%= simple_form_for(@head, html: { class: 'form-inline' }) do |form| %>
  <% if head.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(head.errors.count, "error") %>
        prohibited this head from being saved:
      </h2>
      <ul>
        <% head.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name, label: "שם" %>
  </div>
  <% if @level > 3 %>
    <div class="field select">
      <%= form.input :axis_id, collection: @axes, label: "שייך ל#{@level_names[4]}" %>
    </div>
    <div class="field">
      <%= form.input_field :group_ids, as: :select, multiple: "multiple",  input_html: {class: "select"}, collection: @groups, label: "#{ @level_names[1] } ששיכות ל#{@level_names[3]}" %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "שליחה" %>
  </div>
<% end %>
