<p id="notice"><%= notice %></p>

<h1>ראשים</h1>

<div class="table-responsive">
  <table class = "table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>שם</th>
        <th colspan="1"> נוכחות </th>
        <% if current_staff.admin? %>
          <th>עריכה</th>
          <th>מחיקה </th>
        <% end %>
      </tr>
    </thead>

  <tbody>
    <% @heads.each do |head| %>
    <tr>
      <td><%= link_to head.name, head %></td>
      <td><% counter = how_many_attending(head.kids) %>
      <%= counter %> מתוך <%= head.kids.count %></td>
      <td><%= link_to 'עריכה', edit_head_path(head), class: "btn btn-warning" if current_staff.admin? %></td>
      <td><%= link_to 'מחיקה', head, method: :delete, class: "btn btn-danger" if current_staff.admin? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'ראש חדש', new_head_path if current_staff.admin? %>
