<%= simple_form_for(@kid, html: { class: 'form-inline' }) do |form| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(kid.errors.count, "error") %>
        prohibited this kid from being saved:
      </h2>
      <ul>
        <% kid.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.input :name, label: "שם" %>
  </div>
  <div class="field">
    <%= form.input :last_name, label: "שם משפחה" %>
  </div>
  <div class="field">
    <%= form.input :sex, label: "מין" %>
  </div>
  <div class="field">
    <%= form.input :phone, label: "פלאפון" %>
  </div>
  <div class="field">
    <%= form.input :medical, label: "רגישות ובעיות רפואיות" %>
  </div>
  <div class="field">
    <%= form.input :meds, label: "תרופות" %>
  </div>
  <div class="field">
    <%= form.input :food, label: "אוכל" %>
  </div>
  <div class="field">
    <%= form.input :city, label: "מקום מגורים" %>
  </div>
  <div class="field">
    <%= form.input :ken, label: "קן מקור" %>
  </div>
  <div class="field">
    <%= form.input :dad, label: "שם אבא" %>
  </div>
  <div class="field">
    <%= form.input :dad_phone, label: "טלפון אבא" %>
  </div>
  <div class="field">
    <%= form.input :mom, label: "שם אמא" %>
  </div>
  <div class="field">
    <%= form.input :mom_phone, label: "טלפון אמא" %>
  </div>
  <div class="field">
    <%= form.input :size, label: "מידת חולצה" %>
  </div>
  <div class="field">
    <%= form.input :shabat, as: :radio_buttons, label: "שומר.ת שבת?", collection: ["כן", "לא"] %>
  </div>
  <div class="field">
    <%= form.input :parents, as: :radio_buttons, label: "ההורים באים?", collection: ["כן", "לא"] %>
  <div class="field">
    <%= form.input :swim, as: :radio_buttons, label: "יודע.ת לשחות?", collection: ["כן", "לא"] %>
  </div>
  <div class="field">
    <%= form.input :exits, label: "כניסות ויציאות" %>
  </div>
  <div class="field">
    <%= form.input :comments, label: "הערות" %>
  </div>
  <div class="field select">
    <%= form.input :group_id, collection: @groups %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
