<%= simple_form_for(@kid, html: { class: 'm-3' }) do |form| %>

  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(kid.errors.count, "error") %>
        prohibited this kid from being saved:
      </h2>
      <ul>
        <% kid.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% inputs = @mifal.columns.reject { |e| %w(full_name status cause absences shabat swim parents fever).include?(e) } %>
    <% inputs.each_slice(3) do | batch | %>
      <div class="row">
        <% batch.each do | col | %>
        <% if col == "group" %>
        <div class="column ml-2">
          <%= form.input :group_id, collection: @groups, label: "#{@level_names[0]}" %>
        </div>
        <% else %>
        <div class="column ml-2">
          <%= form.input col.to_sym, label: @column_names[col.to_sym] %>
        </div>
        <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="row">
    <% ["shabat", "swim","parents"].each do |col| %>
    <div class="column ml-2">
      <%= form.input col.to_sym, as: :radio_buttons, input_html:{class:"form-inline"}, label: "#{@column_names[col.to_sym]}", collection: ["כן", "לא"] %>
    </div>
    <% end %>
  </div>
  <% fever_options = [["no_fever", "אין חום"], ["has_fever", "יש חום"]] %>
  <div class="column ml-2">
    <%= form.collection_radio_buttons :fever, fever_options, :first, :last  %>
  </div>
    <%= form.input :mifal_id, as: :hidden, input_html: { value: @mifal.id }, label: "מפעל" %>
    <% if kid.mifal %>
      <% status_options = [["לא נוכח/ת", "0"], ["נוכח/ת","1"]] %>
      <% status_options << ["איחר/ה", "2"] if kid.mifal.has_late %>
      <%= form.input :status, as: :radio_buttons, label: "סטטוס?", collection: status_options %>
    <% end %>
    <%= form.submit "עדכון פרטים", class: "btn btn-success" %>
  </div>
<% end %>
