<h1 style="font-weight:bold;"><i class="fa fa-chevron-left"></i> חניכי <%= current_staff.staffable.name %> </h1>

<% if current_staff.admin? %>
  <% columns = %w[swim shabat parents] %>
  <% conditions = %w[כן לא] %>
  <%= form_tag(kids_path, :method => "get", id: "filter-form", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag :filter_column, params[:filter_column], placeholder: "סינון - swim shabat parents", class: "form-control mr-sm-2" %>
  <%= text_field_tag :filter_condition, params[:filter_condition], placeholder: "כן או לא?", class: "form-control mr-sm-2" %>
  <%= submit_tag "סינון", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
<% end %>


<% if current_staff.admin? %>
<%= link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary" %>
<div>
  <h4>ייבוא מידע!</h4>
  <%= form_tag kids_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "ייבוא מקובץ" %>
  <% end %>
</div>
<%= link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xlsx), class: "btn btn-primary" %>
<%= link_to  'ייצוא הטבלה לCSV', kids_path(format: :csv), class: "btn btn-primary" %>
<% end %>

  <% if !current_staff.user? %>
    <% counter = how_many_attending(Kid.all) %>
    <%= counter %> מתוך <%= Kid.all.count %> חניכים\ות נוכחים\ות
  <% else %>
    <% counter = how_many_attending(current_staff.staffable.kids) %>
    <%= counter %> מתוך <%= current_staff.staffable.kids.count %> חניכים\ות נוכחים\ות
  <% end %>

<div class="table-responsive">
  <table class = "table table-hover" id="dttb">
    <thead class="thead-dark">
      <tr>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>טלפון</th>
        <th>רגישות ובעיות רפואיות</th>
        <th>תרופות</th>
        <th>אוכל</th>
        <th>קן מקור</th>
        <% if @level > 1 %> <th>קבוצה</th> <% end %>
        <th>סטטוס עדכני</th>
        <th>סיבה</th>
      </tr>
    </thead>

    <tbody>
      <% @kids.each do |kid| %>
      <tr>
        <td><%= link_to kid.name, kid_path(kid) %></td>
        <td><%= kid.last_name %></td>
        <td><%= kid.phone %></td>
        <td><%= kid.medical %></td>
        <td><%= kid.meds %></td>
        <td><%= kid.food %></td>
        <td><%= kid.ken %></td>
        <%  if @level > 1 %>
        <% kid.group ||= Group.new(name: "אין קבוצה") %>
          <td><%= link_to kid.group.name, kid.group %> </td>
        <% end %>
          <td><%= if kid.current_status == 1
            "נוכח/ת"
          else
            "לא נוכח/ת"
          end %></td>
          <td><%= kid.current_cause %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% if @level == 1 %>
  <p>
    <strong> מדריכות ומדריכים:</strong>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% current_staff.staffable.staffs.each do |s|%>
          <tr>
            <td class = "btn btn-primary"><%= s.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "יצירת מדריך.ה חדש.ה", new_group_staff_path(@group), class: "btn btn-primary"  if current_staff.admin? %> <br>
    <% end %>
    <%= link_to "יצירת נוכחות חדשה", new_check_path, class: "btn btn-primary" if @level == 1 or current_staff.vip? %>
  </p>

<script type="text/javascript">
  $(document).ready(function() {
    $("#dttb").dataTable();
  });
</script>
