
<%# if !current_staff.user? %>
  <%# render 'filter' %>
<%# end %>
<div id="head">
<div>
  <% if @level == 1 %>
    <strong>
      <%= @mifal.name %> <i class="fas fa-angle-left"></i> <%= @kids.first.group.head.name.sub(" #{@mifal.name}", "") if @kids.exists? %>
    </strong>
  <% end %>
  <div>
    <% unless current_staff.admin? %>
      <h1 class="font-weight-bold text-center"> <%= current_staff.staffable.name.sub(" #{@mifal.name}", "") %> </h1>
    <% else %>
      <h1 class="font-weight-bold text-center">חניכים </h1>
    <% end %>
    <% if @level >= 4 %>
      <%= link_to "הוספת חניך", new_kid_path %>
      <%= link_to "הוספת חניכים מאקסל", mifal_step_path(:imported_kids) %>
    <% end %>
  </div>
    <% if @level == 1 %>
    <!-- <div class="d-flex flex-row">
      <% if @kids.first.group.checks.last.present? %>
      <div class="d-flex w-100 p-2">נוכחות אחרונה: <%= @kids.first.group.checks.last.name %></div>
      <% else %>
      <div class="d-flex w-100 p-2"></div>
      <% end %> -->
		<hr>
		<% counter = how_many_attending(@kids) %>
		<!-- יש <%= counter %> חניכימות נוכחימות מתוך <%= @kids.count %> -->
		<% percent = (counter.to_f / @kids.count.to_i * 100).to_i if @kids.exists? %>
		<% width = "width:#{percent}%" %>
    <div class="d-flex flex-row  justify-content-end">
      <div class="d-flex w-100 p-2">נוכחות אחרונה:
				<br>
        <% if @kids.first.group.checks.last.present?  %>
					<%= @kids.first.group.checks.last.name %> <br>
					<%= counter %> נוכחים מתוך <%= @kids.count %>
          <% else %>
          לא נעשתה נוכחות <br>
					0 נוכחים מתוך <%= @kids.count %>
          <% end %>
			</div>
      <% g_id = Group.find(current_staff.staffable.id) %>
      <div class="d-flex flex-shrink-1">
        <%= link_to "<i class='fas fa-plus'></i>".html_safe, new_check_path(:g_id => g_id), class: "btn btn-lg btn-primary m-2 btn-round" %>
      </div>
    </div>
    <div class="d-flex flex-row mb-3">

      <div class="d-flex w-100 p-2">
        <!-- <div class="progress w-100">
          <div class="progress-bar" role="progressbar"  style=<%= width %>
            aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= counter %> נוכחים מתוך <%= @kids.count %></div> -->
            <!-- aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%# percent %>% נוכחות</div> -->
        </div>
      </div>
    </div>
		<hr>
  <% end %>
</div>
</div>

<%# if current_staff.admin? || current_staff.vip? %>
<%# link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary mb-3" %>
<%# link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xlsx), class: "btn btn-primary" %>
<%# end %>

<div class="table-container">
<div class="table-responsive-lg">
  <table class="table table-hover" id="dttb-kids" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark nowrap ">
      <tr>
        <% column_names = @column_names.reject{|c| c == :name || c == :last_name} %>
        <% if current_staff.admin? %>
          <% column_names.each_with_index do |col,i| %>
            <% unless col.first == "group" %>
                <th data-data="<%= col.first %>" class="<%= i %>"><%= col.last %></th>
            <% else %>
                <th data-data="group" class="<%= i %>"><%= @level_names[0] %></th>
            <% end %>
          <% end %>
        <% else %>
          <% column_names.each_with_index do |col,i| %>
            <% if @mifal.columns.include?(col.first.to_s) %>
              <% unless col.first == "group" %>
                  <th data-data="<%= col.first %>" class="<%= i %>"><%= col.last %></th>
              <% else %>
                <% if @level > 1 %> <th data-data="group" class="<%= i %>"><%= @level_names[0] %></th> <% end %>
              <% end %>
            <% end %>
          <% end %>
          <th data-data="url" class="url-width"></th>
        <% end %>

      </tr>
    </thead>
  </table>
</div>
</div>
<script>

if(<%= @level == 1 %>){
  var targets = [0,1,2,-1];
} else{
  var targets = [0,1,2,3,-1];
}
$('#dttb-kids').dataTable( {
        dom: 'Bfrtip',
        stateSave: true,
        columnDefs: [
           {
               targets: targets,
               className: 'noVis'
           },
            {   targets: targets, visible: true },
            {   targets: "_all", visible: false }
       ],
       buttons: [
           {
               extend: 'colvis',
               columns: ':not(.noVis)',
               collectionLayout: 'fixed two-column',
           }
       ],
       language: {
            buttons: {
                colvis: '<i class="fas fa-columns"></i> עמודות'
            }
        },

});
//
// var padding =  parseInt($("#page-content-wrapper").css('padding-left')) + parseInt($("#page-content-wrapper").css('padding-right'));
// if ($("#navbar").css("display") == "none"){
//   var table_width =   $("#page-content-wrapper").width() - padding;
// }else {
//   var table_width = $( document ).width() - padding;
// };
// $(".table-container").width(table_width);
// $(".progress").width(table_width);
</script>
