<% unless current_staff.admin? %>
  <h1 style="font-weight:bold;">חניכי <%= current_staff.staffable.name %> </h1>
<% else %>
  <h1 style="font-weight:bold;">חניכים </h1>
<% end %>

<%# if !current_staff.user? %>
  <%# render 'filter' %>
<%# end %>

<% if @level == 1 %>
<strong>
  <%= @kids.first.group.head.name %>
</strong>
<% counter = how_many_attending(@kids) %>
יש <%= counter %> חניכימות נוכחימות מתוך <%= @kids.count %>
<% percent = (counter.to_f / @kids.count.to_i * 100).to_i if @kids.exists? %>
<% width = "width:#{percent}%" %>
<div class="progress">
  <div class="progress-bar" role="progressbar"  style=<%= width %>
    aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= percent %>% נוכחות</div>
  </div>
<% end %>


<% if current_staff.admin? || current_staff.vip? %>
<%= link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary" %>
<%# link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xlsx), class: "btn btn-primary" %>
<% end %>
<button id="0" class="btn">
  פרטי
</button>
<button id="1" class="btn">
  משפחה
</button>
<button id="2" class="btn">
  phone
</button>
<button id="3" class="btn">
  רפואי
</button>
<button id="4" class="btn">
  תרופות
</button>
<button id="5" class="btn">
  ken
</button>
<button id="6" class="btn">
  city
</button>
<button id="7" class="btn">
  exits
</button>
<button id="8" class="btn">
  status
</button>
<button id="9" class="btn">
  cause
</button>
<% if @level > 1 %>
 <button id="10" class="btn">
   group
 </button>
  <% end %>
<script>
$('#0').click(function() {
  $('.0').toggle();
});
$('#1').click(function() {
  $('.1').toggle();
});
$('#2').click(function() {
  $('.2').toggle();
});
$('#3').click(function() {
  $('.3').toggle();
});
$('#4').click(function() {
  $('.4').toggle();
});
$('#5').click(function() {
  $('.5').toggle();
});
$('#6').click(function() {
  $('.6').toggle();
});
$('#7').click(function() {
  $('.7').toggle();
});
$('#8').click(function() {
  $('.8').toggle();
});
$('#9').click(function() {
  $('.9').toggle();
});
$('#10').click(function() {
  $('.10').toggle();
});
</script>
<div class="table-container">
<div class="table-responsive-xs">
  <table class="table table-hover" id="dttb-kids" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark nowrap">
      <tr>
        <th data-data="first_name" class="0">שם פרטי</th>
        <th data-data="last_name" class="1">שם משפחה</th>
        <th data-data="phone" class="2">טלפון</th>
        <th data-data="medical" class="3">רגישות ובעיות רפואיות</th>
        <th data-data="meds" class="4">תרופות</th>
        <!-- <th data-data="food">אוכל</th> -->
        <th data-data="ken" class="5">קן</th>
        <th data-data="city" class="6">יישוב</th>
        <th data-data="exits" class="7">כניסות ויציאות</th>
        <th data-data="status" class="8" data-search="לא נוכח">סטטוס</th>
        <th data-data="cause" class="9">סיבה</th>
        <% if @level > 1 %> <th data-data="group" class="10">קבוצה</th> <% end %>
      </tr>
    </thead>

  </table>
</div>
</div>
<% if @level == 1 %>
  <% g_id = Group.find(current_staff.staffable.id) %>
  <%= link_to "יצירת נוכחות חדשה", new_check_path(:g_id => g_id), class: "btn btn-primary" %>
<% end %>
