<p id="notice"><%= notice %></p>

<%= form_tag(kids_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "חיפוש...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<% if current_staff.admin? %>
<%= link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary" %>
<div>
  <h4>ייבוא מידע!</h4>
  <%= form_tag kids_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "ייבוא מקובץ" %>
  <% end %>
</div>
<%= link_to  'ייצוא הטבלה', kids_path(format: :csv), class: "btn btn-primary" %>
<% end %>

<% if @kids.blank? %>
  <h4>אין חניכימות שתואמות את החיפוש <%= params[:search] %>.</h4>
<% else %>
<h1>חניכים</h1>


<%
counter = 0
Kid.all.each do |kid|
  counter += kid.current_status if kid.current_status
end
 %>
 יש <%= counter %> חניכים נוכחים
<%# counter = 0 %>
<%# counter += kid.checks.last.attendances.where(kid_id: kid.id).first.status %>


<%= paginate @kids %>

<div class="table-responsive-lg">
  <table class = "table table-hover">
    <thead class="thead-light">
      <tr>
        <th><%= sortable "name", "שם פרטי" %></th>
        <th><%= sortable "last_name", "שם משפחה" %></th>
        <th>מין</th>
        <th>טלפון</th>
        <th>רגישות ובעיות רפואיות</th>
        <th>תרופות</th>
        <th>אוכל</th>
        <th>מקום מגורים</th>
        <th>קן מקור</th>
        <th>שם אבא</th>
        <th>טלפון אבא</th>
        <th>שם אמא</th>
        <th>טלפון אמא</th>
        <th>גודל חולצה</th>
        <th>קבוצה</th>
        <th>סטטוס עדכני</th>
        <th>סיבה</th>
      </tr>
    </thead>

    <tbody>
      <% @kids.each do |kid| %>
      <tr>
        <td><%= link_to kid.name, kid_path(kid) %></td>
        <td><%= kid.last_name %></td>
        <td><%= kid.sex %></td>
        <td><%= kid.phone %></td>
        <td><%= kid.medical %></td>
        <td><%= kid.meds %></td>
        <td><%= kid.food %></td>
        <td><%= kid.city %></td>
        <td><%= kid.ken %></td>
        <td><%= kid.dad %></td>
        <td><%= kid.dad_phone %></td>
        <td><%= kid.mom %></td>
        <td><%= kid.mom_phone %></td>
        <td><%= kid.size %></td>
        <% if kid.group %>
          <td><%= link_to kid.group.name, kid.group %></td>
        <% end %>
        <% if kid.checks.exists? && kid.checks.last.attendances.exists? %>
          <td><%= kid.checks.last.attendances.where(kid_id: kid.id).first.status %></td>
          <td><%= kid.checks.last.attendances.where(kid_id: kid.id).first.cause %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

כרגע יש <%= Kid.all.count %> חניכים <%# counter %>
