<p id="notice"><%= notice %></p>

<%= form_tag(kids_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "חיפוש...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<% if @kids.blank? %>
  <h4>אין חניכימות שתואמות את החיפוש <%= params[:search] %>.</h4>
<% else %>
<h1>חניכים</h1>

<table>
  <thead>
    <!-- <tr>
      <th colspan="3">שם פרטי</th>
      <th colspan="3">שם משפחה</th>
      <th colspan="3">מין</th>
      <th colspan="3">טלפון</th>
      <th colspan="3">רגישות ובעיות רפואיות</th>
      <th colspan="3">תרופות</th>
      <th colspan="3">אוכל</th>
      <th colspan="3">מקום מגורים</th>
      <th colspan="3">קן מקור</th>
      <th colspan="3">שם אבא</th>
      <th colspan="3">טלפון אבא</th>
      <th colspan="3">שם אמא</th>
      <th colspan="3">טלפון אמא</th>
      <th colspan="3">גודל חולצה</th>
    </tr> -->
  </thead>

  <tbody>
    <tr>
      <td>שם פרטי</th>
      <td>שם משפחה</th>
      <td>מין</th>
      <td>טלפון</th>
      <td>רגישות ובעיות רפואיות</th>
      <td>תרופות</th>
      <td>אוכל</th>
      <td>מקום מגורים</th>
      <td>קן מקור</th>
      <td>שם אבא</th>
      <td>טלפון אבא</th>
      <td>שם אמא</th>
      <td>טלפון אמא</th>
      <td>גודל חולצה</th>
    </tr>
    <% @kids.each do |kid| %>
    <tr>
      <td><%= kid.name %></td>
      <td><%= kid.last_name %></td>
      <td><%= kid.sex %></td>
      <td><%= kid.phone %></td>
      <td><%= kid.medical %></td>
      <td><%= kid.meds %></td>
      <td><%= kid.food %></td>
      <td><%= kid.city %></td>
      <td><%= kid.ken %></td>
      <td><%= kid.dad %></td>
      <td><%= kid.dad_phone %></td>
      <td><%= kid.mom %></td>
      <td><%= kid.mom_phone %></td>
      <td><%= kid.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'חניך.ה חדש.ה', new_kid_path %>
