<% case current_staff.staffable_type %>
<% when "Group" %>
  <h1 style="font-weight:bold;"><i class="fa fa-chevron-left"></i> חניכי קבוצת <%= current_staff.staffable.name %> </h1>
<% when "Head" %>
  <h1 style="font-weight:bold;"><i class="fa fa-chevron-left"></i> חניכי ראש <%= current_staff.staffable.name %> </h1>
<% when "Axis" %>
  <h1 style="font-weight:bold;"><i class="fa fa-chevron-left"></i> חניכי ציר <%= current_staff.staffable.name %> </h1>
<% end %>

<%= form_tag(kids_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "חיפוש...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<% if current_staff.admin? %>
  <% columns = %w[swim shabat parents] %>
  <% conditions = %w[כן לא] %>
  <%= form_tag(kids_path, :method => "get", id: "filter-form", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag :filter_column, params[:filter_column], placeholder: "סינון - swim shabat parents", class: "form-control mr-sm-2" %>
  <%= text_field_tag :filter_condition, params[:filter_condition], placeholder: "כן או לא?", class: "form-control mr-sm-2" %>
  <%= submit_tag "סינון", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
<% end %>


<% if current_staff.admin? %>
<%= link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary" %>
<div>
  <h4>ייבוא מידע!</h4>
  <%= form_tag kids_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "ייבוא מקובץ" %>
  <% end %>
</div>
<%= link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xls), class: "btn btn-primary" %>
<%= link_to  'ייצוא הטבלה לCSV', kids_path(format: :csv), class: "btn btn-primary" %>
<% end %>

<% if @kids.blank? %>
  <h4>אין חניכימות שתואמות את החיפוש <%= params[:search] %>.</h4>
<% else %>
  <% if current_staff.admin? %>
    <% counter = how_many_attending(Kid.all) %>
    <%= counter %> מתוך <%= Kid.all.count %> חניכים\ות נוכחים\ות
  <% else %>
    <% counter = how_many_attending(current_staff.staffable.kids) %>
    <%= counter %> מתוך <%= current_staff.staffable.kids.count %> חניכים\ות נוכחים\ות
  <% end %>

<div class="table-responsive-lg">
  <table class = "table table-hover">
    <thead class="thead-light">
      <tr>
        <th>
          <%= sortable "name", "שם פרטי" %>
            <% if params[:sort] == "name" %>
            <% if params[:direction] == "asc" %>
              <i class="fa fa-chevron-up"></i>
            <% else %>
              <i class="fa fa-chevron-down"></i>
            <% end %>
          <% end %>
        </th>
        <th>
          <%= sortable "last_name", "שם משפחה" %>
          <% if params[:sort] == "last_name" %>
            <% if params[:direction] == "asc" %>
              <i class="fa fa-chevron-up"></i>
            <% else %>
              <i class="fa fa-chevron-down"></i>
            <% end %>
          <% end %>
        </th>
        <th>טלפון</th>
        <th>רגישות ובעיות רפואיות</th>
        <th>תרופות</th>
        <th>אוכל</th>
        <th>
          <%= sortable "ken", "קן מקור" %>
          <% if params[:sort] == "ken" %>
            <% if params[:direction] == "asc" %>
              <i class="fa fa-chevron-up"></i>
            <% else %>
              <i class="fa fa-chevron-down"></i>
            <% end %>
          <% end %>
        </th>
        <% if @level > 1 %> <th>קבוצה</th> <% end %>
        <th>סטטוס עדכני</th>
        <th>סיבה</th>
      </tr>
    </thead>

    <tbody>
      <% @kids.each do |kid| %>
      <tr>
        <td><%= link_to kid.name, kid_path(kid) %></td>
        <td><%= kid.last_name %></td>
        <td><%= kid.phone %></td>
        <td><%= kid.medical %></td>
        <td><%= kid.meds %></td>
        <td><%= kid.food %></td>
        <td><%= kid.ken %></td>
        <%  if kid.group && @level > 1 %>
          <td><%= link_to kid.group.name, kid.group %> </td>
        <% end %>
        <% if kid.checks.exists? && kid.checks.last.attendances.exists? %>
          <td><%= if kid.current_status == 1
            "נוכח/ת"
          else
            "לא נוכח/ת"
          end %></td>
          <td><%= kid.current_cause %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @level == 1 %>
  <p>
    <strong> מדריכות ומדריכים:</strong>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% current_staff.staffable.staffs.each do |s|%>
          <tr>
            <td class = "btn btn-primary"><%= s.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "יצירת מדריך.ה חדש.ה", new_group_staff_path(@group), class: "btn btn-primary"  if current_staff.admin? %> <br>
    <%= link_to "יצירת נוכחות חדשה", new_check_path, class: "btn btn-primary" if (@level == 1 || current_staff.vip?) %>
  </p>
<% end %>

<%= paginate @kids %>
