<p id="notice"><%= notice %></p>

<p>
  <strong>
  <%= @kid.name %>
  </strong>
</p>
<p class="btn btn-primary">
  <strong>קבוצת
  <%= link_to @kid.group.name, @kid.group, :style=>'color:#FFFFFF;' %>
  </strong>
</p>
<p>
  <strong> מדריכות ומדריכים:</strong>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @kid.group.staffs.each do |s|%>
        <tr>
          <td class = "btn btn-primary"><%= s.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'עריכה', edit_kid_path(@kid) %> |
<%= link_to 'חזרה לרשימה', kids_path %>
