<h1 class="font-weight-bold"><%= @kid.name %> <%= @kid.last_name %>
  <%= link_to '<i class="icon icon-edit-solid"></i>'.html_safe, edit_kid_path(@kid), class: "text-muted icon-size" if current_staff.admin? || current_staff.vip? %>
  <%= link_to '<i class="icon icon-redo-solid"></i>'.html_safe, recover_path(@kid), class: "text-muted icon-size" if @kid.groups.pluck(:hard_name).include?("סל מחזור #{@kid.mifal.name}") && (current_staff.admin? || current_staff.vip?) %>
</h1>
<br>
<!-- <div class="kids-checks">
	<%# @kid.group.checks.each do |check| %>
  	<div class="">
  		<%# check.name %>
  		<%# check.attendances.find_by(kid_id: @kid.id).status %>
  	</div>
	<%# end %>
</div> -->
<div id="responsive" class="table-responsive kid-info" style="overflow-x: inherit">
	<table class = "table table-hover" id="dttb">
	  <thead class="thead-grey">
	  </thead>
	  <tbody>
	    <tr>
	      <td><%= @level_names[1] %></td>
        <td>
          <% @kid.groups.each do |group| %>
            <% if current_staff.admin? %>
              <%= link_to group.name, group %>
            <% else %>
              <% if current_staff.staffable.mifal.group_ids.include?(group.id) %>
                <% if @level == 1 %>
                  <% if current_staff.staffable_id == group.id %>
                    <%= link_to group.name, group %>
                  <% else %>
                    <%= group.name %>
                  <% end %>
                <% else %>
                  <% if current_staff.staffable.group_ids.include?(group.id) %>
                    <%= link_to group.name, group %>
                  <% else %>
                    <%= group.name %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% unless group == @kid.groups.last %>
             |
            <% end %>
          <% end %>
        </td>
	    </tr>
	    <% @kid.mifal.columns.reject { |e| %w(name last_name full_name group status cause absences fever).include?(e) }.each do |column| %>
	      <tr>
	        <td> <%= @column_names[column.to_sym] %> </td>
	        <td> <%= @kid.send(column) if @kid.send(column).present? %>
	        <% if column == "phone" && mobile_device? %>
	          <a href="whatsapp://send?text=<%= " " %>&phone=972<%= @kid.phone %>" data-action="share/whatsapp/share"><i class="icon icon-whatsapp-brands text-success font-size-whatsapp amx-2" aria-hidden="true" ></i></a>
	          <a href="tel:0<%= @kid.phone %>" ><i class="icon icon-phone-solid icon-size"></i></a>
	        <% elsif column == "parent_1_phone" && mobile_device? %>
	          <a href="whatsapp://send?text=<%= " " %>&parent_1_phone=972<%= @kid.parent_1_phone %>" data-action="share/whatsapp/share"><i class="icon icon-whatsapp-brands text-success font-size-whatsapp amx-2" aria-hidden="true" ></i></a>
	          <a href="tel:0<%= @kid.parent_1_phone %>" ><i class="icon icon-phone-solid icon-size"></i></a>
	        <% elsif column == "parent_2_phone" && mobile_device? %>
	          <a href="whatsapp://send?text=<%= " " %>&parent_2_phone=972<%= @kid.parent_2_phone %>" data-action="share/whatsapp/share"><i class="icon icon-whatsapp-brands text-success font-size-whatsapp amx-2" aria-hidden="true" ></i></a>
	          <a href="tel:0<%= @kid.parent_2_phone %>" ><i class="icon icon-phone-solid icon-size"></i></a>
	        <% end %></td>
	      </tr>
	    <% end %>
	    <tr>
	      <td>חום</td>
	      <% if @kid.fever == "no_fever" %>
	        <td>אין חום</td>
	      <% elsif @kid.fever == "has_fever" %>
	        <td>יש חום</td>
	      <% end %>
	    </tr>
	      <tr>
	        <td>סטטוס עדכני</td>
	        <td>
            <% if @kid.statuses[current_staff.staffable.id.to_s].present? %>

              <%= @kid.heb_status(current_staff.staffable.id) %>
                <!-- # if @level > 1
                #   button_to @kid.heb_status, toggle_path, method: :get, params: { value: 1 - @kid.status, id: @kid.id}
                # else -->
                <!-- # end -->
              <% else %>
                לא נוכח/ת
            <% end %>
          </td>
	      </tr>
	      <tr>
	        <td>סיבה</td>
	        <td><%= @kid.causes[current_staff.staffable.id.to_s] %></td>
	      </tr>
	      <% if @kid.groups.present? %>
	        <tr>
	          <td><%= @staff_names[1] %></td>
            <td>
	            <% @kid.groups.each do |g|%>
  	            <% g.staffs.each do |s|%>
  	              <%= s.name %>
                  <% unless g == @kid.groups.last && s == g.staffs.last  %>
                    |
                  <% end %>
  	            <% end %>
	            <% end %>
            </td>
	        </tr>
	      <% end %>
	  </tbody>
	</table>
	<%# link_to "מחיקת חניך", @kid, method: :delete, data: { confirm: 'את/ה בטוח/ה?' },  class:"btn btn-danger" if current_staff.admin? || current_staff.vip? %>
	<%= link_to "מחיקת חניך", @kid, remote: true, id: "leave_button", class:"btn btn-danger" if @kid.groups.pluck(:hard_name).exclude?("סל מחזור #{@kid.mifal.name}") && (current_staff.admin? || current_staff.vip?)  %>
	<div id="leave_cause"></div>
</div>

<% if mobile_device? %>
  <% mobile = true %>
  <% else %>
  <% mobile = false %>
  <% end %>
<script>
mobile = <%= mobile %>
  if (mobile){
    $("#responsive").removeClass("table-responsive")
  };
  console.log(mobile);
</script>
