<h1 class="font-weight-bold"><%= @kid.name %> <%= @kid.last_name %>
  <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_kid_path(@kid), class: "text-muted icon-size" if current_staff.admin? || current_staff.vip? %>
</h1>
<br>



<div id="responsive" class="table-responsive kid-info">
<table class = "table table-hover" id="dttb">
  <thead class="thead-dark">
  </thead>
  <tbody>
    <tr>
      <td><%= @level_names[0] %></td>
      <td><%= link_to @kid.group.name, @kid.group if @kid.group %></td>
    </tr>
    <% @kid.mifal.columns.reject { |e| %w(name last_name full_name group status cause absences).include?(e) }.each do |column| %>
      <tr>
        <td> <%= @column_names[column.to_sym] %> </td>
        <td> <%= @kid.send(column) if @kid.send(column).present? %>
        <% if column == "phone" && mobile_device? %>
          <a href="whatsapp://send?text=<%= " " %>&phone=972<%= @kid.phone %>" data-action="share/whatsapp/share"><i class="fab fa-whatsapp text-success font-size-whatsapp mx-2" aria-hidden="true" ></i></a>
          <a href="tel:0<%= @kid.phone %>" ><i class="fa fa-phone fa-lg fa-2x"></i></a>
        <% elsif column == "parent_1_phone" && mobile_device? %>
          <a href="whatsapp://send?text=<%= " " %>&parent_1_phone=972<%= @kid.parent_1_phone %>" data-action="share/whatsapp/share"><i class="fab fa-whatsapp text-success font-size-whatsapp mx-2" aria-hidden="true" ></i></a>
          <a href="tel:0<%= @kid.parent_1_phone %>" ><i class="fa fa-phone fa-lg fa-2x"></i></a>
        <% elsif column == "parent_2_phone" && mobile_device? %>
          <a href="whatsapp://send?text=<%= " " %>&parent_2_phone=972<%= @kid.parent_2_phone %>" data-action="share/whatsapp/share"><i class="fab fa-whatsapp text-success font-size-whatsapp mx-2" aria-hidden="true" ></i></a>
          <a href="tel:0<%= @kid.parent_2_phone %>" ><i class="fa fa-phone fa-lg fa-2x"></i></a>
        <% end %></td>
      </tr>
    <% end %>
      <tr>
        <td>סטטוס עדכני</td>
        <td><%= if @kid.status.present?
                  # if @level > 1
                  #   button_to @kid.heb_status, toggle_path, method: :get, params: { value: 1 - @kid.status, id: @kid.id}
                  # else
                    @kid.heb_status
                  # end
                end %></td>
      </tr>
      <tr>
        <td>סיבה</td>
        <td><%= @kid.cause %></td>
      </tr>
      <% if @kid.group %>
        <tr>
          <td><%= @staff_names[1] %></td>
            <% @kid.group.staffs.each do |s|%>
              <td><%= s.name %></td>
            <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
<%# link_to "מחיקת חניך", @kid, method: :delete, data: { confirm: 'את/ה בטוח/ה?' },  class:"btn btn-danger" if current_staff.admin? || current_staff.vip? %>
<%= link_to "מחיקת חניך", @kid, remote: true, id: "leave_button", class:"btn btn-danger" if current_staff.admin? || current_staff.vip? %>
<div id="leave_cause"></div>
</div>
</div>
<% if mobile_device? %>
  <% mobile = true %>
  <% else %>
  <% mobile = false %>
  <% end %>
<script>
mobile = <%= mobile %>
  if (mobile){
    $("#responsive").removeClass("table-responsive")
  };
  console.log(mobile);
</script>
