<h1 style="font-weight:bold;color:#0984e3;"><%= @kid.name %> <%= @kid.last_name %></h1>
<br>

<div class="kid-info">
  <ul style="float:right;">
    <li>תעודת זהות</li>
    <li>שכבה</li>
    <li>מין: </li>
    <li>טלפון: </li>
    <li>רגישות ובעיות רפואיות:</li>
    <li>תרופות: </li>
    <li>אוכל: </li>
    <li>מקום מגורים:</li>
    <li>קן מקור: </li>
    <li>שם הורה 1: </li>
    <li>טלפון הורה 1:</li>
    <li>שם הורה 2: </li>
    <li>טלפון הורה 2: </li>
    <li>גודל חולצה:</li>
    <li>שמירת שבת:</li>
    <li>הגעת הורים לטקס:</li>
    <li>יכולת שחייה:</li>
    <li>כניסות ויציאות</li>
    <li>הערות</li>
    <li>קבוצה</li>
    <li>סטטוס עדכני</li>
    <li>סיבה</li>

  </ul>

  <ul style="float:right;font-weight:bold;">
    <li><%= @kid.taz %></li>
    <li><%= @kid.grade %></li>
    <li><%= @kid.sex %></li>
    <li><%= @kid.phone %></li>
    <li><%= @kid.medical %></li>
    <li><%= @kid.meds %></li>
    <li><%= @kid.food %></li>
    <li><%= @kid.city %></li>
    <li><%= @kid.ken %></li>
    <li><%= @kid.parent_1 %></li>
    <li><%= @kid.parent_1_phone %></li>
    <li><%= @kid.parent_2 %></li>
    <li><%= @kid.parent_2_phone %></li>
    <li><%= @kid.size %></li>
    <li><%= @kid.shabat %></li>
    <li><%= @kid.parents %></li>
    <li><%= @kid.swim %></li>
    <li><%= @kid.exits %></li>
    <li><%= @kid.comments %></li>
    <% if @kid.group %>
      <li><%= link_to @kid.group.name, @kid.group %></li>
    <% end %>
      <li><%= @kid.status %></li>
      <li><%= @kid.cause %></li>
  </ul>

</div>
<% if @kid.group_id != nil %>
  <p>
    <strong> מדריכות ומדריכים:</strong>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @kid.group.staffs.each do |s|%>
          <tr>
            <td class = "btn btn-primary"><%= s.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
<% end %>

<%= link_to 'עריכה', edit_kid_path(@kid), class: "btn btn-warning" if current_staff.admin? || current_staff.vip? %>
<%= link_to 'מחיקה', @kid, method: :delete, class: "btn btn-danger" if current_staff.admin? || current_staff.vip? %>
<%= link_to 'חזרה לרשימה', kids_path, class: "btn btn-primary" %>
