
<%# if !current_staff.user? %>
  <%# render 'filter' %>
<%# end %>
<div id="head">
<div class="d-flex flex-row justify-content-between">
  <div class="p-2">
      <h1 style="font-weight:bold;">מעקב היעדרויות  <%= current_staff.staffable.name %>
				<%= link_to "<i class='icon icon-download-solid'>כללי</i>".html_safe, stats_kids_path(format: :xlsx), style: "font-size: 16px", class: 'p-2 text-dark' if current_staff.vip? %>
        <%= link_to "<i class='icon icon-download-solid'>לפי חודש</i>".html_safe, stats_kids_path(format: :xlsx, months: "true"), style: "font-size: 16px", class: 'p-2 text-dark' if current_staff.vip? %>
      </h1>
  </div>
</div>

</div>

<%# if current_staff.admin? || current_staff.vip? %>
<%# link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary-cus mb-3" %>
<%# link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xlsx), class: "btn btn-primary-cus" %>
<%# end %>
<div class="table-container">
<div class="table-responsive">
  <table class="table table-hover" id="dttb-kids" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-grey nowrap ">
      <tr>
        <th data-data="full_name" class="">שם מלא</th>
        <th data-data="status" class="">סטטוס</th>
        <th data-data="cause" class="">סיבה</th>
        <% if params[:stats] == "months" %>
          <% @month_names.each_with_index do |col,i| %>
            <th data-data="<%= Date::ABBR_MONTHNAMES[col.first].downcase %>"><%= col.last %></th>
          <% end %>
        <% else %>
          <% names = @mifal.checks.pluck(:name).uniq %>
          <% names.delete("Blank") %>
          <% names.each_with_index do |col,i| %>
            <th data-data="<%= col %>"><%= col %></th>
          <% end %>
        <% end %>


      </tr>
    </thead>
  </table>
</div>
</div>

<script>
$('#dttb-kids').dataTable( {
        dom: 'Bfrtip',
        stateSave: true,
        columnDefs: [
           {
               targets: [0,1,2],
               className: 'noVis'
           },
            {   targets: [0,1,2], visible: true },
            {   targets: "_all", visible: false }
       ],
       buttons: [
           {
               extend: 'colvis',
               columns: ':not(.noVis)',
               collectionLayout: 'fixed two-column',
           }
       ],
       language: {
            buttons: {
                colvis: '<i class="icon icon-columns-solid"></i> עמודות'
            }
        },

});


</script>
