
<%# if !current_staff.user? %>
  <%# render 'filter' %>
<%# end %>
<div id="head">
<div class="d-flex flex-row justify-content-between">
  <div class="p-2">
    <% unless current_staff.admin? %>
      <h1 style="font-weight:bold;">חניכי <%= current_staff.staffable.name %> </h1>
    <% else %>
      <h1 style="font-weight:bold;">חניכים </h1>
    <% end %>
  </div>
</div>

</div>

<%# if current_staff.admin? || current_staff.vip? %>
<%# link_to 'חניך.ה חדש.ה', new_kid_path, class: "btn btn-primary mb-3" %>
<%# link_to  'ייצוא הטבלה לאקסל', kids_path(format: :xlsx), class: "btn btn-primary" %>
<%# end %>

<div class="table-container">
<div class="table-responsive">
  <table class="table table-hover" id="dttb-kids" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark nowrap ">
      <tr>
        <th data-data="full_name" class="">שם מלא</th>
        <th data-data="status" class="">סטטוס</th>
        <th data-data="cause" class="">סיבה</th>
        <!-- <th data-data="jan" class="">ינואר</th> -->

        <% @month_names.each_with_index do |col,i| %>
          <th data-data="<%= Date::ABBR_MONTHNAMES[col.first].downcase %>"><%= col.last %></th>
        <% end %>


      </tr>
    </thead>
  </table>
</div>
</div>

<script>
if(<%= @level == 1 %>){
  var targets = [0,1,2];
} else{
  var targets = [0,1,2,3];
}
$('#dttb-kids').dataTable( {
        dom: 'Bfrtip',
        stateSave: true,
        columnDefs: [
           {
               targets: targets,
               className: 'noVis'
           },
            {   targets: targets, visible: true },
            {   targets: "_all", visible: false }
       ],
       buttons: [
           {
               extend: 'colvis',
               columns: ':not(.noVis)',
               collectionLayout: 'fixed two-column',
           }
       ],
       language: {
            buttons: {
                colvis: 'עמודות להצגה'
            }
        },

});

var padding =  parseInt($("#page-content-wrapper").css('padding-left')) + parseInt($("#page-content-wrapper").css('padding-right'));
if ($("#navbar").css("display") == "none"){
  var table_width =   $("#page-content-wrapper").width() - padding;
}else {
  var table_width = $( document ).width() - padding;
}
$(".table-container").width(table_width);
$(".progress").width(table_width);
</script>
