<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
    <title>אפליקציית המטה</title>
    <%= render 'application/favicon' %>
    <meta property="og:title" content="אפליקציית המטה" />
    <meta property="og:description" content="רישום נוכחות מעולם לא היה קל יותר!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('logo.png') %>" />
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js'></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153691372-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153691372-1');
    </script>
  </head>

  <style media="screen">
    * {
      font-family: 'Rubik', sans-serif;
    }
    .bg-landing{
      background: url("<%= asset_path 'bg.svg' %>") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .landing-grad{
      background: rgb(53,206,212);
      background: linear-gradient(90deg, rgba(53,206,212,1) 0%, rgba(13,152,237,1) 100%);
    }
    .secondary-grad{
      background: rgb(97,98,98);
      background: linear-gradient(81deg, rgba(97,98,98,1) 0%, rgba(53,53,53,1) 100%);
    }
    #top-left #path914{
      transform: translate(-50%, -50%);
      r: 100%;
    }
    .bottom-10 {
      bottom: 10%
    }
    #bottom-right #path914{
      transform: translate(50%, 0%);
    }
    #bottom-left #path914{
      transform: translate(-20%, 20%);
    }
    .flip{
      transform: scaleX(-1);
    }
    .rotate180{
      transform: rotate(180deg);
    }
    .flip-rotate90{
      transform: rotate(90deg) scaleX(-1);
    }
    .rotate90{
      transform: rotate(90deg);
    }
    .rotate45{
      transform: rotate(45deg);
    }

    .h-075{
      height: 75%;
    }
    .h-050{
      height: 50%;
    }
    .h-025{
      height: 25%;
    }
    .h-015{
      height: 15%;
    }
    .h-third{
      height: 33vh;
    }
    .h-25vh{
      height: 25vh;
    }
    .w-50vh{
      width: 50vh;
    }
    .path-white path{
      fill: white
    }
    #katya{
      transform: translate(0%, -50%);
      background-image: url("<%= asset_path 'katya.jpg' %>")
    }
    #sanchez{
      transform: translate(0%, -50%);
      background-image: url("<%= asset_path 'sanchez.png' %>")
    }
    #pashi{
      transform: translate(0%, 50%);
      background-image: url("<%= asset_path 'pashi.webp' %>")
    }
    #jordan{
      transform: translate(0%, 50%);
      background-image: url("<%= asset_path 'jordan.webp' %>")
    }
    .quotes{
      position: relative;
      top: -40%;
      right: 0;
    }
    .h-screen2{
      height: 200vh
    }
    .h-75vh{
      height: 75vh
    }
    .h-half{
      height: 50vh;
    }
    .circle-logo{
      background: url("<%= asset_path 'logo-circle-shadow.svg' %>");
      background-repeat: no-repeat;
      background-position: top right;
      background-size:contain;
    }
    .text-primary-grad{
      background: linear-gradient(90deg, rgba(53,206,212,1) 40%, rgba(13,152,237,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     }
     .text-primary{
       color: rgb(13,152,237)
     }
     .login-btn{
       border: 4px solid rgb(13,152,237);
       color: rgb(97,98,98)
     }
     .h-85{
       height: 85%
     }
     .cta-btn{
       background: rgb(209,13,76);
       background: linear-gradient(90deg, rgba(209,13,76,1) 0%, rgba(255,84,139,1) 100%);
     }
     .h-95{
       height: 95%
     }
     .w-95{
       width: 95%
     }
     .w-99{
       width: 99vw
     }
     .rounded-xl{
       border-radius: 4rem;
     }
     html, body {
        height: 100%;
     }
  </style>

<% if mobile_device? %>
<div class="absolute left-0 top-0">
  <%= inline_svg_tag("circle.svg",class:"z-10", size: '100% * 20%', id:"top-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div  class="absolute right-0 bottom-10">
  <%= inline_svg_tag("circle.svg", size: '60% * 20%',id:"bottom-right", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div dir="ltr" class="absolute left-0 bottom-0">
  <%= inline_svg_tag("circle.svg", size: '70%',id:"bottom-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div class="absolute right-0 top-0 w-1/4 h-32 circle-logo flex flex-col items-center justify-center">
  <div class="h-full w-3/4 flex-col items-center  justify-center hidden pb-16 amr-24" id="to_hide">
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center z-50">
      <button type="button" name="button" class="create" >איך המטה נוצר?</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center ">
      <button type="button" name="button" class="properties">תכונות</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center">
      <button type="button" name="button" class="quote">מה משתמשים אומרים?</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center">
      <button type="button" name="button" class="us">מי אנחנו?</button>
    </div>
    <div class="mb-4 h-10 w-1/2 rounded-full flex items-center justify-center cta-btn text-white">
      <button href="#contact" type="button" name="button" class="font-bold contact">יצירת קשר</button>
    </div>
    <div class="mb-4 h-10 w-1/2 rounded-full flex items-center justify-center login-btna landing-grada text-white">
      <div class="landing-grad w-full h-full rounded-full flex content-center justify-center items-center">
        <button type="button" name="button" class="bg-white  w-95 h-85 rounded-full font-bold text-whitea"><span class="text-primary-grad"><%= link_to "התחברות", new_staff_session_path %></span></button>
      </div>
    </div>
  </div>
</div>
<div class="absolute right-0 top-0 ">
  <%= inline_svg_tag("mate-logo.svg",id:"logo", class:"z-40", size: '30% * 20%', preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
  <div class="flex justify-center h-32 w-screen absolute bottom-0 content-center pt-8">
    <div class="z-50 h-12 w-full flex content-center justify-center">
      <button href="#contact" type="button" name="button" class="contact cta-btn text-white w-4/5 h-full rounded-full font-bold">יצירת קשר</button>
    </div>
    <div class="z-50 h-12 w-full flex content-center justify-center">
      <div class="landing-grad w-4/5 h-full rounded-full flex content-center justify-center items-center">
        <button type="button" name="button" class="bg-white  w-95 h-85 aslogin-btn landing-grada rounded-full font-bold  create"><span class="text-primary-grad">מידע נוסף</span></button>
      </div>
    </div>
		<%= image_tag "scroll-hero.svg", size:"70", class:'absolute bottom-0 mb-2 create z-50' %>
  </div>
  <%= image_tag "divider.svg", class:"w-screen absolute bottom-0" %>

    <div class="w-full bg-landing landing-grad" style="height: 100%;">
        <section class="w-full h-full flex flex-col">
          <div class="container h-full mx-auto flex flex-row items-center xl:pb-16 xl:px-0 px-4">
            <div class="w-full mx-auto text-center text-white flex flex-col">
              <h1 class=" text-5xl font-extrabold sm:mb-4">אפליקציית המטה</h1>
              <p class="text-md sm:text-base">רישום נוכחות מעולם לא היה קל יותר</p>
            </div>
          </div>
        </section>
      </div>
        <%= image_tag "divider-bottom.svg", class:"w-screen" %>
<div class="flex flex-col my-10" id="create">
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad">
      <span class="text-white text-center "><span class="font-bold">אפליקציית המטה</span> נולדה מתוך צורך לפתרון לבעיית רישום הנוכחות. בקורס ההדרכה הנוכחות על מאות החניכים והחניכות נרשמה בפתקים שלפעמים נאבדו בדרך, ואז הוקלדו ידנית</span></div>
  </div>
  <div class="h-32 w-full" dir="ltr">
    <%= image_tag "arrow.svg", class: "h-32 ml-10 flip"%>
  </div>
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad">
      <span class="text-white text-center mx-2"><span class="font-bold">בנקודה זו</span> נולד הרעיון לפיתוח אפליקציה שתקצר את התהליך דרמטית, ותשחרר את המדריכים והמדריכות להתעסק בחינוך עצמו במקום בפתקים שהלכו לאיבוד</span></div>
  </div>
  <div class="h-32 w-full">
    <%= image_tag "arrow.svg", class: "h-32 mr-10"%>
  </div>
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad">
      <span class="text-white text-center "><span class="font-bold">אנחנו מאמינים </span>שטכנולוגיה צריכה לעמוד לשירות האדם, ולעזור לכם להתעסק במה שחשוב באמת, בגלל זה בנינו את המטה</span></div>
  </div>
</div>
<%= image_tag "divider-bottom.svg", class:"w-screen rotate180" %>

<div class="flex flex-col mt-10 text-lg" id="properties">
  <div class="flex h-third my-10 mx-4 my-24">
    <div class="w-1/2 h-full text-center mx-2">
      <%# render "people" %>
      <%= inline_svg_tag("people.svg",class:"h-025 w-full aapeople", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        יצירת נוכחות חניכים בצורה נוחה ופשוטה
      </h2>
      <p>
        תהליך יצירת הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
      </p>
    </div>
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("clipboard.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        ניהול ומעקב אחרי נוכחויות
      </h2>
      <p>
        מסך מותאם לכל משתמש שמראה רק את המידע הרלוונטי, עם חיפוש מהיר למציאת המידע המבוקש
      </p>
    </div>
  </div>

  <div class=" landing-grad pb-24">
    <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
    <div class="flex h-third my-10 text-white mx-4 ">
      <div class="w-1/2 text-center mx-2">
        <%= inline_svg_tag("calendar.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold">
          ניהול יומן אירועים
        </h2>
        <p>
          מעקב מסודר אחרי אירועים חריגים שקורים
        </p>
      </div>
      <div class="w-1/2 text-center mx-2">
        <%= inline_svg_tag("bus.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold">
          ניהול נוכחות על אוטובוסים
        </h2>
        <p>
          יצירה חכמה של אוטובוסים ויצירת נוכחות עליהם מתוך האפליקציה
        </p>
      </div>
    </div>
  </div>
  <%= image_tag "divider-sm.svg", class:"w-screen landing-grad" %>
  <div class="flex h-third mt-10 mb-24">
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("tools.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        התאמת התוכנה לצרכים היחודיים שלכם
      </h2>
      <p>
        דרך הגדרות מגוונות האפליקציה תתאים כמו כפפה ליד
      </p>
    </div>
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("responsive.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        גישה מכל טלפון ומחשב ללא הורדה
      </h2>
      <p>
        טכנולוגיה של אפליקציית רשת מאפשרת לא להוריד קבצים גדולים, להיות תמיד בגרסה העדכנית ביותר, ולגשת למידע השמור בענן
      </p>
    </div>
  </div>
  <div class="landing-grad">
    <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
    <div class="flex h-third my-10 text-white">
      <div class="w-full h-full text-center mx-2">
        <%= inline_svg_tag("hey.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <div class="w-1/2 m-auto">
          <h2 class="font-bold">
            ליווי ותמיכה לאורך כל הדרך
          </h2>
          <p>
            בתור אנשי חינוך, אנחנו מכירים את הקשיים שיש בתהליך שינוי טכנולוגי ופה כדי לעזור בכל שלב בדרך, ולתקן כל בעיה בתצוץ בהקדם האפשרי
          </p>
        </div>
      </div>
    </div>
    <%= image_tag "divider-sm.svg", class:"w-screen pt-8" %>
    </div>
</div>

<div class="flex flex-col w-screen items-center text-white" id="quotes">
  <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
    <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
    <p class="w-3/4 md:text-xl text-md italic">
      המטה קיצר תהליכים - הוריד את זמן ההמתנה לעדכון נוכחות בחצי, שיפר את היכולת להפיק מידע קריטי בשניות, והפך את המידע להרבה יותר חסוי ופרטי. פינה את הצוות להתעסק בחניכים עצמם.
      <span class="not-italic float-left">- קטיה נובק</span>
    </p>
  </div>
  <div id="katya" class="rounded-full h-24 w-24 flex items-center justify-center bg-white bg-cover bg-center"></div>
  <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
    <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
    <p class="w-3/4 md:text-xl text-md italic">
      בנוכחות כמו בניווט, חשוב לעקוב אחרי הפרטים הקטנים. עם אפליקציית המטה, הצלחנו להיות במעקב על המידע של כל החניכים והחניכות שלנו, בזמן אמת
      <span class="not-italic float-left">- עידו אברהם</span>
    </p>
  </div>
  <div id="sanchez" class="rounded-full h-24 w-24 flex items-center justify-center bg-white bg-cover bg-center"></div>
</div>

<div class="flex flex-col landing-grad text-white" id="us">
  <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
  <div class="flex flex-col justify-center items-center my-10">
    <div id="jordan" class="mb-12 rounded-full h-24 w-24 flex items-center justify-center bg-white bg-cover bg-center"></div>
    <h1 class="font-bold my-2 text-xl">
      ירדן שפנר
    </h1>
    <p class="text-lg">
      מפתח תוכנה
    </p>
  </div>
  <div class="flex flex-col justify-center items-center my-10">
    <div id="pashi" class="mb-12 rounded-full h-24 w-24 flex items-center justify-center bg-white bg-cover bg-center"></div>
    <h1 class="font-bold my-2 text-xl">
      גיא "פשי" נתן
    </h1>
    <p class="text-lg">
      מפתח תוכנה
    </p>
  </div>
  <%= image_tag "divider-sm.svg", class:"w-screen" %>
</div>

<div class="flex flex-col w-screen h-75vh my-4 items-center" id="contact" >
  <div class="landing-grad w-11/12 h-full rounded-lg flex items-center justify-center" id="submitform">
    <div class="hidden w-3/4 rounded-lg text-xl text-center text-white font-bold flex flex-col justify-center items-center" id="after-submit">
      <p>
        ההודעה התקבלה!
        ניצור קשר בקרוב
      </p>
    </div>
  </div>
</div>
<%= image_tag "scroll2.svg", size:"50", class:'scrollToTop aahidden fixed bottom-0 pb-1 pr-1 md:pr-2 md:pb-2 md:h-12 md:w-12 h-10 w-10' %>


<script type="text/javascript">
  	$( document ).ready(function() {


            $('#submitform').append("<%= j (render partial: "contacts/form", locals: {contact: Contact.new}) %>")
            $('#new_contact').validate({ // initialize the plugin
              submitHandler: function(form) {
                $( "#new_contact" ).hide(1)
                $("#after-submit").show(1000)
                form.submit();
              },
              errorPlacement: function(label, element) {
                label.addClass('text-red-600 font-bold bg-white px-1');
                label.insertAfter(element);
              },
              wrapper: 'span',
              rules: {
                "contact[name]": {
                  required: true
                },
                "contact[email]": {
                  required: true,
                  email: true
                },
                "contact[tel]": {
                  digits: true,
                  minlength: 9,
                  maxlength: 10
                }
              },
              messages: {
                "contact[name]": {
                  required: "יש לכתוב שם מלא",
                },
                "contact[email]": {
                  required: "יש לכתוב אימייל תקני",
                  email: "יש לכתוב אימייל תקני"
                },
                "contact[tel]": {
                  digits: "יש להכניס מספר טלפון תקני",
                  minlength: "יש להכניס מספר טלפון תקני",
                  maxlength: "יש להכניס מספר טלפון תקני",
                },
              }

            });
            $( "#new_contact" ).submit(function( event ) {
              event.preventDefault();
            });
            $("#logo").click(function(event) {
              if ($(".circle-logo").hasClass('changed')) {
                $("#to_hide").hide()
                  $(".circle-logo").animate({width: ("1vw"), height: ("1vh")},500);
                  $(".circle-logo").toggleClass('changed');
              }
              else {
                $("#to_hide").show(400).css('display', 'flex')
                var a = $(".circle-logo").animate({width: ("100vw"), height: ("70vh")},500)
                $(".circle-logo").toggleClass('changed');

              }
              // $("#logo").attr("viewBox", "0 0 100 100");
            });

            // function scrollToAnchor(aid){
            //   console.log(aid);
            //   var aTag = $("button[name='"+ aid +"']");
            //   console.log(aTag);
            //   $('html,body').animate({scrollTop: $("#contact").offset().top},'slow');
            // }

            $(".properties").click(function(event) {
              $('html,body').animate({scrollTop: $("#properties").offset().top},'slow');
              /* Act on the event */
            });
            $(".create").click(function(event) {
              console.log("create");
              $('html,body').animate({scrollTop: $("#create").offset().top},'slow');
              /* Act on the event */
            });
            $(".quote").click(function(event) {
              $('html,body').animate({scrollTop: $("#quotes").offset().top},'slow');
              /* Act on the event */
            });
            $(".us").click(function(event) {
              $('html,body').animate({scrollTop: $("#us").offset().top},'slow');
              /* Act on the event */
            });
            $(".contact").click(function(event) {
              $('html,body').animate({scrollTop: $("#contact").offset().top},'slow');
              /* Act on the event */
            });
            $(".scrollToTop").click(function() {
              $("html, body").animate({ scrollTop: 0 }, "slow");
              return false;
            });
            $(document).scroll(function(event) {
              if ($(document).scrollTop() > 100) {
                  $(".scrollToTop").show(500)
              }
              else {
                  $(".scrollToTop").hide(500)
              }
            });
    });
</script>





<!-- Desktop -->
<% else %>

<div class="absolute left-0 top-0">
  <%= inline_svg_tag("circle.svg",class:"", size: '100% * 20%', id:"top-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div  class="absolute right-0 bottom-10">
  <%= inline_svg_tag("circle.svg", size: '60% * 20%',id:"bottom-right", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<!-- <div dir="ltr" class="absolute left-0 bottom-0"> -->
  <%# inline_svg_tag("circle.svg", size: '70%',id:"bottom-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
<!-- </div> -->
<div class="w-full absolute bottom-0 flex justify-center ">
<%= image_tag "divider-desktop.svg", class:"w-screen absolute bottom-0" %>
<%= image_tag "scroll-hero.svg", size:"100", class:'absolute bottom-0 mb-6 create' %>
</div>
<div class="fixed right-0 top-0 z-50">
  <%= inline_svg_tag("mate-logo.svg",id:"logo", class:"z-50", size: '30% * 20%', preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div class="fixed right-0 top-0 w-1 h-1 circle-logo flex flex-col z-30">
  <div class="h-full w-1/4 flex-col items-center  justify-center hidden pb-16 amr-24" id="to_hide">
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center">
      <button type="button" name="button" class="create" >איך המטה נוצר?</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center ">
      <button type="button" name="button" class="properties">תכונות</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center">
      <button type="button" name="button" class="quote">מה משתמשים אומרים?</button>
    </div>
    <div class="h-10 w-full text-primary-grad font-bold text-lg flex items-center justify-center">
      <button type="button" name="button" class="us">מי אנחנו?</button>
    </div>
    <!-- <div class="mb-4 h-10 w-1/2 rounded-full flex items-center justify-center cta-btn text-white"> -->
      <button href="#contact" type="button" name="button" class="font-bold contact mb-4 h-10 w-1/2 rounded-full flex items-center justify-center cta-btn text-white">יצירת קשר</button>
    <!-- </div> -->
    <div class="mb-4 h-10 w-1/2 rounded-full flex items-center justify-center login-btna landing-grada text-white">
      <div class="landing-grad w-full h-full rounded-full flex content-center justify-center items-center">
        <%= link_to "התחברות", new_staff_session_path, class:"bg-white  w-95 h-85 rounded-full font-bold text-primary flex content-center justify-center items-center" %>
      </div>
    </div>
  </div>
</div>




    <div class="w-full h-screen bg-landing landing-grad flex">
        <div class="w-1/2 h-full flex flex-col">
          <div class="container h-full mx-auto flex flex-row items-center xl:pb-16 xl:px-0 px-4">
            <div class="w-full mx-auto text-center text-white flex flex-col items-center">
              <div class="mb-24">
                <h1 class=" text-5xl font-extrabold sm:mb-4">אפליקציית המטה</h1>
                <p class="text-md sm:text-base">רישום נוכחות מעולם לא היה קל יותר</p>
              </div>
                <div class="h-12 w-1/3 flex content-center justify-center">
                  <button href="#contact" type="button" name="button" class="contact cta-btn text-white w-4/5 h-full rounded-full font-bold">יצירת קשר</button>
                </div>
                <div class="h-12 mt-4 w-1/3 flex content-center justify-center">
									<div class="bg-white create  w-4/5 h-full aslogin-btn landing-grada rounded-full font-bold text-primary flex content-center justify-center items-center">
										מידע נוסף
									</div>
                </div>
            </div>
          </div>
        </div>
        <div class="h-full w-1/2 flex flex-col items-center justify-center">
          <%= image_tag "mockups.svg", class:"w-3/4 z-50" %>
        </div>
      </div>
        <%# image_tag "divider-bottom-desktop.svg", class:"w-screen" %>
<div class="flex my-10 w-full justify-center" id="create">
  <div class="flex items-center justify-center mr-4">
    <div class="rounded-full h-half w-50vh flex items-center justify-center landing-grad">
      <span class="text-white text-2xl text-justify mx-16"><span class="font-bold">אפליקציית המטה</span> נולדה מתוך צורך  בשטח לפתרון טוב יותר לבעיית רישום הנוכחות. בקורס ההדרכה הנוכחות על מאות החניכים והחניכות נרשמה בפתקים שלפעמים נאבדו בדרך, ואז הוקלדו ידנית</span></div>
  </div>
  <div class="h-32 w-full flex justify-center ">
    <div class="">
      <%= image_tag "arrow.svg", class: "h-32 ml-10 flip-rotate90"%>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <div class="rounded-full h-half w-50vh flex items-center justify-center landing-grad">
      <span class="text-white text-2xl text-justify mx-16"><span class="font-bold">בנקודה זו</span> נולד הרעיון לפיתוח אפליקציה שתקצר את התהליך דרמטית, ותשחרר את המדריכים והמדריכות להתעסק בחינוך עצמו במקום בפתקים שהלכו לאיבוד</span></div>
  </div>
  <div class="h-32 w-full flex justify-center self-end">
    <%= image_tag "arrow.svg", class: "h-32 mr-10 rotate90"%>
  </div>
  <div class="flex items-center justify-center ml-4">
    <div class="rounded-full h-half w-50vh flex items-center justify-center landing-grad">
      <span class="text-white text-2xl text-justify mx-16"><span class="font-bold">אנחנו מאמינים</span> שטכנולוגיה צריכה לעמוד לשירות האדם, ולעזור לכם להתעסק במה שחשוב באמת, בגלל זה בנינו את המטה</span></div>
  </div>
</div>

<div class="flex flex-col text-lg landing-grad text-white" id="properties">
<%= image_tag "divider-desktop.svg", class:"w-screen alanding-grad rotate180" %>
  <div class="flex h-25vh my-10 mx-4 my-24 justify-center">
    <div class="w-1/6 h-full text-center mx-6">
      <%= inline_svg_tag("people.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold text-2xl my-4">
        רישום נוכחות חניכים בצורה נוחה ופשוטה
      </h2>
      <p class="text-xl">
        תהליך רישום הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
      </p>
    </div>
    <div class="w-1/6 h-full text-center mx-6">
      <%= inline_svg_tag("clipboard.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold text-2xl my-4">
        ניהול ומעקב אחרי נוכחויות
      </h2>
      <p class="text-xl">
        מסך מותאם לכל משתמש שמראה רק את המידע הרלוונטי, עם חיפוש מהיר למציאת המידע המבוקש
      </p>
    </div>

      <div class="w-1/6 text-center mx-6">
        <%= inline_svg_tag("calendar.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold text-2xl my-4">
          ניהול יומן אירועים
        </h2>
        <p class="text-xl">
          מעקב מסודר אחרי אירועים חריגים שקורים
        </p>
      </div>
      <div class="w-1/6 text-center mx-6">
        <%= inline_svg_tag("bus.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold text-2xl my-4">
          ניהול נוכחות על אוטובוסים
        </h2>
        <p class="text-xl">
          יצירה חכמה של אוטובוסים ויצירת נוכחות עליהם מתוך האפליקציה
        </p>
      </div>
    </div>

  <div class="flex h-25vh mt-10 mb-24 justify-center">
    <div class="w-1/6 h-full text-center mx-6">
      <%= inline_svg_tag("tools.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold text-2xl my-4">
        התאמת התוכנה לצרכים היחודיים שלכם
      </h2>
      <p class="text-xl">
        דרך הגדרות מגוונות האפליקציה תתאים כמו כפפה ליד
      </p>
    </div>
    <div class="w-1/6 h-full text-center mx-6">
      <%= inline_svg_tag("responsive.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold text-2xl my-4">
        גישה מכל טלפון ומחשב ללא הורדה
      </h2>
      <p class="text-xl">
        טכנולוגיה של אפליקציית רשת מאפשרת לא להוריד קבצים גדולים, להיות תמיד בגרסה העדכנית ביותר, ולגשת למידע השמור בענן
      </p>
    </div>
    <div class="w-1/6 h-full text-center mx-6">
      <%= inline_svg_tag("hey.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold text-2xl my-4">
        ליווי ותמיכה לאורך כל הדרך
      </h2>
      <p class="text-xl">
        בתור אנשי חינוך, אנחנו מכירים את הקשיים שיש בתהליך שינוי טכנולוגי ופה כדי לעזור בכל שלב בדרך, ולתקן כל בעיה בתצוץ בהקדם האפשרי
      </p>
    </div>

    </div>
    <%= image_tag "divider-desktop.svg", class:"w-screen arotate180" %>
</div>

<div class="flex aw-screen items-center text-white" id="quotes">
  <div class="flex flex-col justify-center items-center">
    <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
      <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
      <p class="w-3/4 text-2xl italic">
        המטה קיצר תהליכים - הוריד את זמן ההמתנה לעדכון נוכחות בחצי, שיפר את היכולת להפיק מידע קריטי בשניות, והפך את המידע להרבה יותר חסוי ופרטי. פינה את הצוות להתעסק בחניכים עצמם.
        <span class="not-italic float-left">- קטיה נובק</span>
      </p>
    </div>
    <div id="katya" class="rounded-full h-32 w-32 flex items-center justify-center bg-white bg-cover bg-center"></div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
      <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
      <p class="w-3/4 text-2xl italic">
        בנוכחות כמו בניווט, חשוב לעקוב אחרי הפרטים הקטנים. עם אפליקציית המטה, הצלחנו להיות במעקב על המידע של כל החניכים והחניכות שלנו, בזמן אמת
        <span class="not-italic float-left">- עידו אברהם</span>
      </p>
    </div>
    <div id="sanchez" class="rounded-full h-32 w-32 flex items-center justify-center bg-white bg-cover bg-center"></div>
  </div>
  </div>

  <div class="flex flex-col w-99 h-half items-center text-primary justify-center mb-16" id="us">
    <div class="w-1/2 h-full flex flex-col landing-grad items-center  justify-center  rounded-xl">
      <h1 class="text-white text-5xl mt-4">מי אנחנו</h1>
      <div class="flex w-full h-full">
        <div class="flex flex-col justify-center w-full h-full items-center">
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white bg-cover bg-center" id="pashi"></div>
          <div class="bg-white w-1/2 h-050 rounded-lg flex flex-col items-center justify-center">
            <h1 class="font-bold my-2 text-2xl">
              גיא "פשי" נתן
            </h1>
            <p class="text-lg">
              מפתח תוכנה
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center h-full  w-full items-center">
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white bg-cover bg-center" id="jordan"></div>
          <div class="bg-white w-1/2 h-050 rounded-lg flex flex-col items-center justify-center">
            <h1 class="font-bold my-2 text-2xl">
              ירדן שפנר
            </h1>
            <p class="text-lg">
              מפתח תוכנה
            </p>
          </div>
        </div>

      </div>
    </div>
    </div>

<div class="w-99 flex items-center justify-center">

  <div class="flex flex-col w-1/3 h-75vh my-4 items-center justify-center" id="contact" >
    <div class="landing-grad w-11/12 h-full rounded-lg flex items-center justify-center" id="submitform">
      <div class="hidden w-3/4 rounded-lg text-xl text-center text-white font-bold flex flex-col justify-center items-center" id="after-submit">
        <p>
          ההודעה התקבלה!
          ניצור קשר בקרוב
        </p>
      </div>
    </div>
  </div>
  <div class="text-2xl text-center shadow-2xl rounded-lg mx-32 bg-white p-6">
    <div class="">
      הקוד השומרי <br>
      רחוב הפרדס 11, אזור <br>
      codecircle13@gmail.com
    </div>
    <div class="flex justify-center mt-4">
      <%= link_to "https://www.facebook.com/%D7%94%D7%A7%D7%95%D7%93-%D7%94%D7%A9%D7%95%D7%9E%D7%A8%D7%99-109072317196522" do %>
      <%= image_tag "facebook_circle.png", class: "h-12" %>
      <% end %>
      <%= link_to "https://www.instagram.com/code_circle/" do %>
      <%= image_tag "Instagram_logo.svg.webp", class: "h-12 mr-5" %>
      <% end %>
    </div>
  </div>
</div>
<%= image_tag "scroll2.svg", size:"50", class:'scrollToTop aahidden fixed bottom-0 pb-1 pr-1 md:pr-2 md:pb-2 md:h-12 md:w-12 h-10 w-10' %>


<script type="text/javascript">
  	$( document ).ready(function() {


            $('#submitform').append("<%= j (render partial: "contacts/form", locals: {contact: Contact.new}) %>")
            $('#new_contact').validate({ // initialize the plugin
              submitHandler: function(form) {
                $( "#new_contact" ).hide(1)
                $("#after-submit").show(1000)
                form.submit();
              },
              errorPlacement: function(label, element) {
                label.addClass('text-red-600 font-bold bg-white px-1');
                label.insertAfter(element);
              },
              wrapper: 'span',
              rules: {
                "contact[name]": {
                  required: true
                },
                "contact[email]": {
                  required: true,
                  email: true
                },
                "contact[tel]": {
                  digits: true,
                  minlength: 9,
                  maxlength: 10
                }
              },
              messages: {
                "contact[name]": {
                  required: "יש לכתוב שם מלא",
                },
                "contact[email]": {
                  required: "יש לכתוב אימייל תקני",
                  email: "יש לכתוב אימייל תקני"
                },
                "contact[tel]": {
                  digits: "יש להכניס מספר טלפון תקני",
                  minlength: "יש להכניס מספר טלפון תקני",
                  maxlength: "יש להכניס מספר טלפון תקני",
                },
              }

            });
            $( "#new_contact" ).submit(function( event ) {
              event.preventDefault();
            });
            $("#logo").click(function(event) {
              if ($(".circle-logo").hasClass('changed')) {
                $("#to_hide").hide()
                  $(".circle-logo").animate({width: ("1vw"), height: ("1vh")},500);
                  $(".circle-logo").toggleClass('changed');
              }
              else {
                $("#to_hide").show(400).css('display', 'flex')
                var a = $(".circle-logo").animate({width: ("100vw"), height: ("50vh")},500)
                $(".circle-logo").toggleClass('changed');

              }
              // $("#logo").attr("viewBox", "0 0 100 100");
            });

            // function scrollToAnchor(aid){
            //   console.log(aid);
            //   var aTag = $("button[name='"+ aid +"']");
            //   console.log(aTag);
            //   $('html,body').animate({scrollTop: $("#contact").offset().top},'slow');
            // }

            $(".properties").click(function(event) {
              $('html,body').animate({scrollTop: $("#properties").offset().top},'slow');
              /* Act on the event */
            });
            $(".create").click(function(event) {
              console.log("create");
              $('html,body').animate({scrollTop: $("#create").offset().top},'slow');
              /* Act on the event */
            });
            $(".quote").click(function(event) {
              $('html,body').animate({scrollTop: $("#quotes").offset().top},'slow');
              /* Act on the event */
            });
            $(".us").click(function(event) {
              $('html,body').animate({scrollTop: $("#us").offset().top},'slow');
              /* Act on the event */
            });
            $(".contact").click(function(event) {
              $('html,body').animate({scrollTop: $("#contact").offset().top},'slow');
              /* Act on the event */
            });
            $(".scrollToTop").click(function() {
              $("html, body").animate({ scrollTop: 0 }, "slow");
              return false;
            });
            $(document).scroll(function(event) {
              if ($(document).scrollTop() > 100) {
                  $(".scrollToTop").show(500)
              }
              else {
                  $(".scrollToTop").hide(500)
              }
            });
    });
</script>

<% end %>
