<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>אפליקציית המטה</title>
    <%= render 'application/favicon' %>
    <meta property="og:title" content="מטה מפעל של השומר הצעיר" />
    <meta property="og:description" content="אפליקציית מטה למפעלי התנועה, נבנה על ידי מעגל הקוד השומרי" />
    <meta property="og:type" content="website" />
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js'></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <style media="screen">
    * {
      font-family: 'Rubik', sans-serif;
    }
    .bg-landing{
      background: url("<%= asset_path 'bg.svg' %>") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .landing-grad{
      background: rgb(53,206,212);
      background: linear-gradient(90deg, rgba(53,206,212,1) 0%, rgba(13,152,237,1) 100%);
    }
    #top-left #path914{
      transform: translate(-50%, -50%);
      r: 100%;
    }
    .bottom-10 {
      bottom: 10%
    }
    #bottom-right #path914{
      transform: translate(50%, 0%);
    }
    #bottom-left #path914{
      transform: translate(-20%, 20%);
    }
    .flip{
      transform: scaleX(-1);
    }
    .rotate180{
      transform: rotate(180deg);
    }
    .h-075{
      height: 75%;
    }
    .h-050{
      height: 50%;
    }
    .h-025{
      height: 25%;
    }
    .h-015{
      height: 15%;
    }
    .h-third{
      height: 33vh;
    }
    .path-white path{
      fill: white
    }
    .avatar{
      transform: translate(0%, -50%);
      background-image: url("<%= asset_path 'katya.jpeg' %>")
    }
    .quotes{
      position: relative;
      top: -40%;
      right: 0;
    }
    .h-screen2{
      height: 200vh
    }
    .h-half{
      height: 50vh;
    }
    .contact-input{

    }
  </style>
  <%# inline_svg_tag("bg.svg") %>
<!-- <div class="abg-cover abg-center absolute z-0 h-screen aabg-no-repeat" ></div> -->
<div class="absolute right-0 top-0">
  <%= inline_svg_tag("mate-logo.svg", size: '30% * 20%', preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div class="absolute left-0 top-0">
  <%= inline_svg_tag("circle.svg", size: '100% * 20%', id:"top-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div  class="absolute right-0 bottom-10">
  <%= inline_svg_tag("circle.svg", size: '60% * 20%',id:"bottom-right", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<div dir="ltr" class="absolute left-0 bottom-0">
  <%= inline_svg_tag("circle.svg", size: '70%',id:"bottom-left", preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
  <div class="flex flex-col justify-center h-24 w-screen absolute bottom-0 content-center">
    <div class="z-50 h-12 w-full flex justify-center">
      <button type="button" name="button" class="landing-grad text-white w-2/5 h-12 rounded-full font-bold ">יצירת קשר</button>
    </div>
  </div>
  <%= image_tag "divider.svg", class:"w-screen absolute bottom-0" %>

    <div class="w-full h-screen bg-landing landing-grad">
        <section class="w-full h-full flex flex-col">
          <div class="container h-full mx-auto flex flex-row items-center xl:pb-16 xl:px-0 px-4">
            <div class="w-full mx-auto text-center text-white flex flex-col">
              <h1 class=" text-5xl font-extrabold sm:mb-4">אפליקציית המטה</h1>
              <p class="text-md sm:text-base">עשיית נוכחות מעולם לא הייתה קלה יותר</p>
              <!-- <form class="xl:mt-4 mt-8 flex hidden xl:flex">
                <input class="rounded-l-full p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" placeholder="your@mail.com"/>
                <button class="px-8 rounded-r-full bg-yellow-400  text-gray-800 font-bold p-4 uppercase border-yellow-500 border-t border-b border-r">Subscribe</button>
              </form> -->
            </div>
            <!-- <div class="w-1/2 xl:pt-8 xl:items-center flex justify-end">
              <%# image_tag "mate-story", class: "", alt: "Mobile phone" %>
            </div> -->
          </div>
        </section>
      </div>
        <%= image_tag "divider-bottom.svg", class:"w-screen" %>
<div class="flex flex-col my-10">
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad text-white">Circle</div>
  </div>
  <div class="h-32 w-full" dir="ltr">
    <%= image_tag "arrow.svg", class: "h-32 ml-10 flip"%>
  </div>
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad text-white">Circle</div>
  </div>
  <div class="h-32 w-full">
    <%= image_tag "arrow.svg", class: "h-32 mr-10"%>
  </div>
  <div class="flex items-center justify-center">
    <div class="rounded-full h-64 w-64 flex items-center justify-center landing-grad text-white">Circle</div>
  </div>
</div>
<%= image_tag "divider-bottom.svg", class:"w-screen rotate180" %>

<div class="flex flex-col mt-10 text-lg" id="properties">
  <div class="flex h-third my-10 mx-4 ">
    <div class="w-1/2 h-full text-center mx-2">
      <%# render "people" %>
      <%= inline_svg_tag("people.svg",class:"h-025 w-full aapeople", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        יצירת נוכחות חניכים בצורה נוחה ופשוטה
      </h2>
      <p>
        תהליך יצירת הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
      </p>
    </div>
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("clipboard.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        ניהול ומעקב אחרי נוכחויות
      </h2>
      <p>
        מסך מותאם לכל משתמש שמראה רק את המידע הרלוונטי, עם חיפוש מהיר למציאת המידע המבוקש
      </p>
    </div>
  </div>

  <div class=" landing-grad">
    <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
    <div class="flex h-third my-10 text-white mx-4 ">
      <div class="w-1/2 h-full text-center mx-2">
        <%= inline_svg_tag("calendar.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold">
          יצירת נוכחות חניכים בצורה נוחה ופשוטה
        </h2>
        <p>
          תהליך יצירת הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
        </p>
      </div>
      <div class="w-1/2 h-full text-center mx-2">
        <%= inline_svg_tag("bus.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <h2 class="font-bold">
          ניהול ומעקב אחרי נוכחויות
        </h2>
        <p>
          מסך מותאם לכל משתמש שמראה רק את המידע הרלוונטי, עם חיפוש מהיר למציאת המידע המבוקש
        </p>
      </div>
    </div>
  <%= image_tag "divider-sm.svg", class:"w-screen" %>
  </div>
  <div class="flex h-third amy-10">
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("tools.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        יצירת נוכחות חניכים בצורה נוחה ופשוטה
      </h2>
      <p>
        תהליך יצירת הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
      </p>
    </div>
    <div class="w-1/2 h-full text-center mx-2">
      <%= inline_svg_tag("responsive.svg",class:"h-025 w-full", preserve_aspect_ratio: 'xMidYMid meet') %>
      <h2 class="font-bold">
        ניהול ומעקב אחרי נוכחויות
      </h2>
      <p>
        מסך מותאם לכל משתמש שמראה רק את המידע הרלוונטי, עם חיפוש מהיר למציאת המידע המבוקש
      </p>
    </div>
  </div>
  <div class="landing-grad">
    <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
    <div class="flex h-third my-10 text-white">
      <div class="w-full h-full text-center mx-2 ">
        <%= inline_svg_tag("hey.svg",class:"h-025 w-full path-white", preserve_aspect_ratio: 'xMidYMid meet') %>
        <div class="w-1/2 m-auto">
          <h2 class="font-bold">
            יצירת נוכחות חניכים בצורה נוחה ופשוטה
          </h2>
          <p>
            תהליך יצירת הנוכחות יכול לקחת פחות מדקה, ודורש מעבר דרך שלושה מסכים בלבד!
          </p>
        </div>
      </div>
    </div>
    <%= image_tag "divider-sm.svg", class:"w-screen" %>
    </div>
</div>

<div class="flex flex-col w-screen items-center text-white" id="quotes">
  <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
    <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
    <p class="w-3/4 md:text-xl text-md italic">
      המטה קיצר תהליכים - הוריד את זמן ההמתנה לעדכון נוכחות בחצי, שיפר את היכולת להפיק מידע קריטי בשניות, והפך את המידע להרבה יותר חסוי ופרטי. פינה את הצוות להתעסק בחניכים עצמם.
      <span class="not-italic float-left">-קטיה נובק</span>
    </p>
  </div>
  <div class="rounded-full h-24 w-24 flex items-center justify-center bg-white avatar bg-cover bg-center"></div>
  <div class="landing-grad w-11/12 h-half rounded-lg flex items-center justify-center">
    <%= image_tag "quotes.svg", class:"amb-2 quotes" %>
    <p class="w-3/4 md:text-xl text-md italic">
      המטה קיצר תהליכים - הוריד את זמן ההמתנה לעדכון נוכחות בחצי, שיפר את היכולת להפיק מידע קריטי בשניות, והפך את המידע להרבה יותר חסוי ופרטי. פינה את הצוות להתעסק בחניכים עצמם.
      <span class="not-italic float-left">-קטיה נובק</span>
    </p>
  </div>
  <div class="rounded-full h-24 w-24 flex items-center justify-center bg-white avatar bg-cover bg-center"></div>
</div>

<div class="flex flex-col landing-grad text-white">
  <%= image_tag "divider-sm.svg", class:"w-screen rotate180" %>
  <div class="flex flex-col justify-center items-center my-10">
    <div class="rounded-full h-24 w-24 flex items-center justify-center bg-white avatara bg-cover bg-center"></div>
    <h1 class="font-bold my-2 text-xl">
      ירדן שפנר
    </h1>
    <p class="text-lg">
      מפתח תוכנה
    </p>
  </div>
  <div class="flex flex-col justify-center items-center my-10">
    <div class="rounded-full h-24 w-24 flex items-center justify-center bg-white avatara bg-cover bg-center"></div>
    <h1 class="font-bold my-2 text-xl">
      גיא "פשי" נתן
    </h1>
    <p class="text-lg">
      מפתח תוכנה
    </p>
  </div>
  <%= image_tag "divider-sm.svg", class:"w-screen" %>
</div>

<div class="flex flex-col w-screen h-screen items-center" >
  <div class="landing-grad w-11/12 h-075 rounded-lg flex items-center justify-center" id="form">
  <%# render "contacts/form", contact: Contact.new %>
	<%# j (render partial: "contacts/form", contact: Contact.new) %>
  </div>
</div>


<script type="text/javascript">

$('#form').html("<%= j (render partial: "contacts/form", locals: {contact: Contact.new}) %>")
$( "#new_contact" ).submit(function( event ) {
	event.preventDefault();

});
  $("#submit-contact").click(function(event) {
		email = $("#contact_email").val()
		if (validateEmail(email)) {
			// $( "#new_contact" ).submit()
			$(this).parents('form').submit();
			console.log(this);
			// $("#new_contact").hide()
		}
  });

			$('#new_contact').validate({ // initialize the plugin
	      submitHandler: function(form) {
	        $( "#newquiz" ).hide(1)
	        // $('.contact-form').addClass("flex items-center bg-transparent")
	        // $('.contact-form').removeClass("bg-white shadow-2xl")
	        // $("#after-submit").show(1000)
	        form.submit();
	      },
				errorPlacement: function(label, element) {
				 label.addClass('er');
				 label.insertAfter(element);
	 			},
	 			wrapper: 'span',
					rules: {
						"quiz[full_name]": {
								required: true
						},
	          "quiz[org_name]": {
								required: false
						},
							"quiz[email]": {
								required: true,
								email: true
						},
						"quiz[phone]": {
							digits: true,
	    				minlength: 9,
	    				maxlength: 10
						}
					},
					messages: {
			      "quiz[full_name]": {
			      required: "יש לכתוב שם מלא",
			     },
			     "quiz[email]": {
			      required: "יש לכתוב אימייל תקני",
						email: "יש לכתוב אימייל תקני"
			     },
			     "quiz[phone]": {
						 digits: "יש להכניס מספר טלפון תקני",
			       minlength: "יש להכניס מספר טלפון תקני",
			       maxlength: "יש להכניס מספר טלפון תקני",
			     },
	  	 		}

				});


			$( "#newquiz" ).submit(function( event ) {
	      event.preventDefault();

	    });

	function validateEmail(email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  return emailReg.test( email );
	}
</script>
