<script>
    $(document).ready(function() {
       $(".select").select2({
          language: "he",
          theme: "bootstrap"
      }); });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>

<%= simple_form_for(@group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(group.errors.count, "error") %>
        prohibited this group from being saved:
      </h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.input :name, label: "שם", input_html: { class: 'my-2' }  %>
  </div>
  <% if @level > 3 %>
    <div class="my-2 field">
      <%= form.input_field :head_id, collection: @heads, input_html: { class: 'select' } %>
    </div>
    <div class="my-2 field">
      <% bin = Group.find_by(hard_name: "סל מחזור #{@mifal.name}") %>
      <% kids = @mifal.kids.where.not(group: bin) %>
      <%= form.input_field :kid_ids, as: :select, multiple: "multiple",  input_html: {class: "mx-2 select"}, collection: kids, label_method: :full_name, value_method: :id %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "עדכון", class:"btn btn-primary-cus" %>
  </div>
<% end %>
