<%= form_tag(groups_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "חיפוש...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<% if @groups.blank? %>
  <h4>אין קבוצות שתואמות את החיפוש <%= params[:search] %>.</h4>
<% else %>

<h1>קבוצות</h1>

<div class="table-responsive-lg">
<table class = "table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>שם</th>
      <th colspan="1"> נוכחות </th>
      <th>נוכחות אחרונה</th>
      <% if current_staff.admin? %>
        <th>עריכה</th>
        <th>מחיקה </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td><% counter = how_many_attending(group.kids) %>
       <%= counter %> מתוך <%= group.kids.count %></td>
       <td>
         <% if group.checks.exists? %>
           <% if group.checks.last.approved? %>
            <span style="color:green;"> <%= group.checks.last.name %> </span>
          <% else %>
            <span style="color:red;"> <%= group.checks.last.name %> </span>
         <% end %>
       <% end %>
       </td>
      <td><%= link_to 'עריכה', edit_group_path(group), class: "btn btn-warning" if current_staff.admin? %></td>
      <td><%= link_to 'מחיקה', group, method: :delete, class: "btn btn-danger" if current_staff.admin? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</p>
<% end %>
<br>

<%= link_to 'קבוצה חדשה', new_group_path if current_staff.admin? %>
