<h1 style="font-weight:bold;"></i> <%= @group.name %> </h1>

  <strong>
    <%= link_to @group.head.name, @group.head %>
  </strong>
<% counter = how_many_attending(@group.kids) %>
יש <%= counter %> חניכימות נוכחימות מתוך <%= @group.kids.count %>
<% percent = (counter.to_f / @group.kids.count.to_i * 100).to_i if @group.kids.exists? %>
<% width = "width:#{percent}%" %>
<div class="progress">
  <div class="progress-bar" role="progressbar"  style=<%= width %>
    aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= percent %>% נוכחות</div>
  </div>

<p>
  <div class="table-responsive-lg">
    <table class="table table-hover" id="dttb-kids" data-sort="true"
                        data-source="<%= url_for(format: :json, controller: 'kids', group_id: @group.id)%>">
      <thead class="thead-dark">
        <tr>
          <th data-data="full_name">שם</th>
          <th data-data="ken">קן</th>
          <th data-data="exits">כניסות ויציאות</th>
          <th data-data="status">סטטוס</th>
          <th data-data="cause">סיבה</th>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
        </tr>
      </thead>

    </table>
  </div>
</p>

  <strong> מדריכות ומדריכים:</strong>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @group.staffs.each do |s|%>
        <tr>
          <td><%= s.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "יצירת מדריך.ה חדש.ה", new_group_staff_path(@group), class: "btn btn-primary"  if current_staff.admin? %> <br>
  <%= link_to "יצירת נוכחות חדשה", new_check_path(:g_id => @group.id), class: "btn btn-primary" %>

<%= link_to 'עריכה', edit_group_path(@group), class: "btn btn-warning" if current_staff.admin? || current_staff.vip? %>
<%= link_to 'חזרה לרשימה', groups_path, class: "btn btn-primary" %>
<% next_id = @group.id + 1 %>
<% if Group.exists?(next_id) && (current_staff.admin? || current_staff.vip?) %>
  <%= link_to "ה#{@level_names[0]} הבאה", group_path(next_id), class: "btn btn-primary" %>
<% end %>
