
<div class="d-flex flex-row justify-content-between">
  <div class="p-2">
    <h1 style="font-weight:bold;"> <%= @group.name %>
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_group_path(@group),class: "edit" if current_staff.admin? || current_staff.vip? %>
     </h1>
  </div>
  <div class="p-2 mt-2">
    <% unless @group.name ==  "סל מחזור #{@group.mifal.name}" %>
    <%= link_to "יצירת נוכחות חדשה", new_check_path(:g_id => @group.id), class: "btn btn-primary" %>
    <% end %>
    <%# link_to 'חזרה לרשימה', groups_path, class: "btn btn-primary" %>
    <% next_id = @group.id + 1 %>
    <% if Group.exists?(next_id) && (current_staff.admin? || current_staff.vip?) %>
      <%= link_to "ה#{@level_names[0]} הבאה", group_path(next_id), class: "btn btn-primary" %>
    <% end %>
</div>

</div>


  <strong>
    <%= link_to @group.head.name, @group.head if @group.head %>
  </strong>
<% counter = how_many_attending(@group.kids) %>
יש <%= counter %> חניכימות נוכחימות מתוך <%= @group.kids.count %>
<% percent = (counter.to_f / @group.kids.count.to_i * 100).to_i if @group.kids.exists? %>
<% width = "width:#{percent}%" %>
<div class="progress">
  <div class="progress-bar" role="progressbar"  style=<%= width %>
    aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= percent %>% נוכחות</div>
  </div>



<p>
  <div class="table-responsive">
    <table class="table table-hover" id="dttb-kids" data-sort="true"
                        data-source="<%= url_for(format: :json, controller: 'kids', group_id: @group.id)%>">
      <thead class="thead-dark">
        <tr>
          <% @column_names.each_with_index do |col,i| %>
            <% if @group.mifal.columns.include?(col.first.to_s) %>
              <% unless col.first == "group" %>
                <th data-data="<%= col.first %>" class="<%= i %>"><%= col.last %></th>
              <% else %>
                <% if @level > 1 %> <th data-data="group" class="<%= i %>"><%= @level_names[0] %></th> <% end %>
              <% end %>
            <% end %>
          <% end %>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
        </tr>
      </thead>

    </table>
  </div>
</p>

  <%# link_to "יצירת #{@staff_names[0]} חדש.ה", new_group_staff_path(@group), class: "btn btn-primary"  if current_staff.admin? %> <br>




<script>

$('#dttb-kids').dataTable( {
        dom: 'Bfrtip',
        stateSave: true,
        columnDefs: [
           {
               targets: [0,1,2,3,-1],
               className: 'noVis'
           },
            {   targets: [0,1,2,3,-1], visible: true },
            {   targets: "_all", visible: false }
       ],
       buttons: [
           {
               extend: 'colvis',
               columns: ':not(.noVis)',
               collectionLayout: 'fixed two-column'
           }
       ],
       language: {
            buttons: {
                colvis: 'עמודות להצגה'
            }
        },

});
  </script>
