<%= simple_form_for([@eventable, @event], html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% options = [['קבוצות:',Group.pluck(:name, :id)],['ראשים:',Head.pluck(:name, :id)],['צירים:',Axis.pluck(:name, :id)]] %>
  <div class="form-inputs">
    <%= f.input :content, label: "פירוט:" %>
    <%= f.input :eventable_type, as: :hidden %>
    <%= f.input :eventable_id, as: :hidden %>

    <% grouped_options = [['Documents:',[["Create a new template-based document",1], ["Changing an existing document",2], ["New doc",3]]],['BOM:',[["Add New Part",4], ["Change existion part",5]]]] %>
    <%= select_tag "outcome_based", content_tag(:option,'נא לבחור',:value=>"") + grouped_options_for_select(options), class:"form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>


<script>
$('#outcome_based').change(function(){
  var c_type = $('#outcome_based :selected').parent('optgroup').attr("label");
  $('#event_eventable_id').val($('#outcome_based :selected').val())
  if (c_type == "קבוצות:"){
    $('#event_eventable_type').val("Group")
  }
  if (c_type == "ראשים:"){
    $('#event_eventable_type').val("Head")
  }
  if (c_type == "צירים:"){
    $('#event_eventable_type').val("Axis")
  }
});
</script>
