<%= simple_form_for([@eventable, @event], html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% case @level  %>
    <% when 1 %>
      <% options = [['קבוצות:',[[current_staff.staffable.name, current_staff.staffable.id]]]] %>
    <% when 2 %>
      <% options = [['קבוצות:',current_staff.staffable.groups.pluck(:name, :id)],
                    ['ראשים:',[[current_staff.staffable.name, current_staff.staffable.id]]]] %>
    <% when 3 %>
      <% options = [['קבוצות:',current_staff.staffable.groups.pluck(:name, :id)],
                    ['ראשים:',current_staff.staffable.heads.pluck(:name, :id)],
                    ['צירים:',[[current_staff.staffable.name, current_staff.staffable.id]]]] %>
    <% when 4 %>
      <% if current_staff.vip? %>
        <% options = [['קבוצות:',current_staff.staffable.groups.pluck(:name, :id)],
                      ['ראשים:',current_staff.staffable.heads.pluck(:name, :id)],
                      ['צירים:',[[current_staff.staffable.axes.pluck(:name, :id)]]]] %>
      <% end %>
  <% end %>
  <div class="form-inputs">
    <%= f.input :content, label: "פירוט:" %>
    <%= f.input :eventable_type, as: :hidden %>
    <%= f.input :eventable_id, as: :hidden %>

    <%= select_tag "outcome_based", content_tag(:option,'נא לבחור',:value=>"") + grouped_options_for_select(options), class:"form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>


<script>
$('#outcome_based').change(function(){
  var c_type = $('#outcome_based :selected').parent('optgroup').attr("label");
  $('#event_eventable_id').val($('#outcome_based :selected').val())
  if (c_type == "קבוצות:"){
    $('#event_eventable_type').val("Group")
  }
  if (c_type == "ראשים:"){
    $('#event_eventable_type').val("Head")
  }
  if (c_type == "צירים:"){
    $('#event_eventable_type').val("Axis")
  }
});
</script>
