<%= simple_form_for([@eventable, @event], html: { class: 'p-3' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% options = event_options %>
  <div class="form-inputs">
    <%= f.input :content, label: "פירוט:", required: true %>
    <% if @level == 1 %>
      <%= f.input :eventable_type, as: :hidden, :input_html => { value: "Group" } %>
      <%= f.input :eventable_id, as: :hidden, :input_html => { value: current_staff.staffable_id } %>
    <% else %>
      <%= f.input :eventable_type, as: :hidden %>
      <%= f.input :eventable_id, as: :hidden %>
      <%= f.label "קבוצה" %>
      <%= select_tag "outcome_based", content_tag(:option,'נא לבחור',:value=>"") +
        grouped_options_for_select(options), class:"form-control inline select2" %>
    <% end %>
    <% if current_staff.admin? %>
    <%= f.input :kind, collection: Mifal.all.pluck(:event_kinds), label: "סוג" %>
    <% else %>
    <%= f.input :kind, collection: current_staff.staffable.mifal.event_kinds || Mifal.all.pluck(:event_kinds), label: "סוג", required: true %>
    <% end %>
    <%= f.input :level, label: "דרגה", collection: [['regular', 'רגיל'], ['critical', 'חמור']], label_method: :second, value_method: :first, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "שליחה", class: "btn btn-primary-cus" %>
  </div>
<% end %>


<script>
$('#outcome_based').change(function(){
  var c_type = $('#outcome_based :selected').parent('optgroup').attr("label");
  $('#event_eventable_id').val($('#outcome_based :selected').val())
  if (c_type == "<%= @level_names[1] %>:"){
    $('#event_eventable_type').val("Group")
  }
  if (c_type == "<%= @level_names[3] %>:"){
    $('#event_eventable_type').val("Head")
  }
  if (c_type == "<%= @level_names[5] %>:"){
    $('#event_eventable_type').val("Axis")
  }
  if (c_type == "מפעל:"){
    $('#event_eventable_type').val("Mifal")
  }
});
  $(document).ready(function() {
     $(".select2").select2({
        language: "he",
        theme: "bootstrap"
    }); });
  $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>
