<h1>יומן אירועים</h1>

<div class="table-responsive">
  <table class = "table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>פירוט</th>
        <th>תאריך</th>
        <th>נוצר על ידי</th>
        <th>שייך ל</th>
        <th>הצגה</th>
        <th>עריכה</th>
        <% if current_staff.admin? %>
          <th>מחיקה </th>
        <% end %>
      </tr>
    </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.content %></td>
        <td><%= event.created_at.in_time_zone("Jerusalem").strftime("%H:%M | %e.%m") %> </td>
        <td><%= event.staff.name %></td>
        <td><%= link_to event.eventable.name, event.eventable if event.eventable %></td>
        <td><%= link_to 'הצגה', event, class: "btn btn-primary" %></td>
        <td><%= link_to 'עריכה', edit_event_path(event), class: "btn btn-warning" %></td>
        <td><%= link_to 'מחיקה', event, method: :delete, class: "btn btn-danger" if current_staff.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'אירוע חדש', new_event_path, class: "btn btn-primary" %>
