<%= simple_form_for(@mifal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name, label: "שם המפעל" %>

  <div class="form-actions">
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>
