<h1 class="font-weight-bold"><%= @mifal.name %>
  <%= link_to '<i class="icon icon-edit-solid"></i>'.html_safe, edit_mifal_path(@mifal), class: "text-muted icon-size" if current_staff.admin? %>
  <!-- <%= link_to "<i class='icon icon-download-solid'></i>".html_safe, mifal_path(format: :xlsx), class: 'p-2 icon-size text-dark' if current_staff.admin? || current_staff.vip? %> -->
</h1>
<% if @level >= 4 %>
	<%= link_to new_kid_path, class:"btn btn-primary-cus-outline font-weight-bold" do %>
		<i class='icon icon-user-plus-solid'></i>
		<span>הוספת חניך</span>
	<% end %>
	<%= link_to mifal_step_path(:imported_kids), class:"btn btn-primary-cus-outline font-weight-bold" do %>
    <i class='icon icon-file-excel-solid'></i>
    <span>ייבוא מטבלה</span>
	<% end %>
  <%= link_to mifal_path(@mifal, format: :xlsx), class:"btn btn-primary-cus-outline font-weight-bold" do %>
    <i class='icon icon-file-excel-solid'></i>
    <span>ייצוא המפעל</span>
  <% end %>
<% end %>
<%= link_to 'חזרה לרשימה', mifals_path, class: "btn btn-primary-cus" if current_staff.admin? %>

<% if @mifal.has_axes? %>
  <div class="table-responsive">
    <table class="nowrap table table-hover" id="dttb-axes"
                  data-sort="false" data-source="<%= url_for(controller: 'axes', format: :json, mifal_id: @mifal.id)%>">
      <thead class="thead-grey">
        <tr>
          <th data-data="name">שם</th>
          <th data-data="axis_counter" data-orderable="false" data-searchable="false">נוכחות</th>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
        </tr>
      </thead>

    </table>
  </div>

  <% if @level == 4 %>
    <p>
      סה"כ:
      <strong class="total"></strong> מתוך <strong><%= @mifal.kids.count %></strong>
    </p>
    <%= render 'layouts/latest_events' unless current_staff.staffable.all_events.blank? %>
  <% end %>
<% else %>
  <div class="table-responsive">
    <table class="nowrap table table-hover" id="dttb-heads" data-sort="true" data-source="<%= url_for(controller: 'heads', format: :json, mifal_id: @mifal.id) %>">
      <thead class="thead-grey">
        <tr>
          <th data-data="name">שם</th>
          <th data-data="head_counter" data-orderable="false" data-searchable="false">נוכחות</th>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
        </tr>
      </thead>

    </table>
  </div>

  <% if @level == 4 %>
    <p>
      סה"כ:
      <strong class="total"></strong> מתוך <strong><%= @mifal.kids.count %></strong>
    </p>
    <%= render 'layouts/latest_events' unless current_staff.staffable.all_events.blank? %>
  <% end %>
<% end %>




<script>
  $(document).ready(function(){
  var x = 0;
  setTimeout(function(){
    $(".for_sum").each(function(){
    x += Number($(this).text());
    })
    $(".total").html(x);
   }, 1000);
  });
</script>

<%# link_to "יצירת רכז.ת מפעל חדש.ה", new_mifal_staff_path(@mifal), class: "btn btn-primary-cus" if current_staff.admin? %>
