<p id="notice"><%= notice %></p>

<h1>צירים</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @axes.each do |axis| %>
      <tr>
        <td><%= link_to axis.name, axis, class: "btn btn-primary" %></td>
        <td><%= link_to 'עריכה', edit_axis_path(axis), class: "btn btn-warning" %></td>
        <td><%= link_to 'מחיקה', axis, method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ציר חדש', new_axis_path %>
