<h2><%= @axis.name %></h2>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-heads" data-sort="false"
                            data-source="<%= url_for(controller: 'heads', format: :json, axis_id: @axis.id)%>">
    <thead class="thead-grey">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="head_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<% if @level == 3 %>
<p>
  סה"כ:
  <strong class="total"></strong> מתוך <strong><%= @axis.mifal.kids.count %></strong>
</p>
<% end %>


<script>
  $(document).ready(function(){
  var x = 0;
  setTimeout(function(){
    $(".for_sum").each(function(){
    x += Number($(this).text());
    })
    $(".total").html(x);
   }, 1000);
  });
</script>

  <strong>רכז.ת ה<%= @level_names[4] %>:</strong>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @axis.staffs.each do |s|%>
        <tr>
          <% if s.user? %>
            <td class = "btn btn-primary-cus"><%= s.name %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%# link_to "יצירת רכז.ת #{@level_names[4]} חדש.ה", new_axis_staff_path(@axis), class: "btn btn-primary-cus" if current_staff.admin? %>

<%= link_to 'עריכה', edit_axis_path(@axis), class: "btn btn-primary-cus" if current_staff.admin? %>
<%= link_to 'חזרה לרשימה', axes_path, class: "btn btn-primary-cus" %>
