<h1><%= @axis.name %></h1>
<% @axis.staffs.each do |s|%>
    <% if s.user? %>
      <h3 class=""><%= s.name %></h3>
    <% end %>
<% end %>
<% if @level == 3 %>
<p class="p-total">
  סה"כ:
  <strong class="total"></strong> מתוך <strong><%= @axis.mifal.kids.count %></strong>
</p>
<%= render 'layouts/latest_events' %>
<% end %>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-heads" data-sort="false"
                            data-source="<%= url_for(controller: 'heads', format: :json, axis_id: @axis.id)%>">
    <thead class="thead-grey">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="head_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>


<script>
  $(document).ready(function(){
  var x = 0;
  setTimeout(function(){
    $(".for_sum").each(function(){
    x += Number($(this).text());
    })
    $(".total").html(x);
   }, 1000);
  });
</script>

  <strong>רכז.ת ה<%= @level_names[4] %>:</strong>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>

<%= link_to 'עריכה', edit_axis_path(@axis), class: "btn btn-primary-cus" if current_staff.admin? %>
