
<%= form_with model: @mifal, url: wizard_path, local: true do |form| %>


  <%= yield form %>
<% if params[:not_new] %>
  <!-- true -->
	<div class="form-actions mb-2 mt-2">
		<%= form.submit "סיום", class: "btn btn-primary-cus ml-2", id: "submit" %>
		<%# link_to "דילוג לשלב הבא", next_wizard_path %>
	</div>
<% else %>
  <div class="form-actions mb-2 mt-2">
		<%= link_to "הקודם", previous_wizard_path, class: "btn btn-primary-cus-outline font-weight-bold ml-2" unless step == :settings %>
    <%= form.submit "המשך", class: "btn btn-primary-cus ml-2", id: "submit" %>
    <%= link_to "דילוג", next_wizard_path %>
  </div>
<% end %>
<% end %>
