
<div class="d-flex  text-white m-4">
	<div class="flex-fill">
		<div id="111" class=" d-flex justify-content-center progress-secondary settings progress-line">
			<div class="rounded-circle bg-secondary  px-3 py-2 progress-circle settings">
				1
			</div>
		</div>
		<h4 class="m-0 mt-4 p-1  text-center">
			<%= link_to "הגדרות" ,mifal_steps_path(id: "settings"), class:"progress-link text-muted settings" %>
		</h4>
	</div>

	<% if current_staff.staffable.mifal.has_axes %>
	<div class="flex-fill axes">
		<div class="d-flex justify-content-center progress-secondary axised progress-line">
			<div class="rounded-circle bg-secondary  px-3 py-2 progress-circle axised">
				2
			</div>
		</div>
		<h4 class="m-0 mt-4 p-1 text-center">
			<%# if @level_names %>
			  <!-- true -->
			<%# end %>
			<%= link_to @level_names[5] ,mifal_steps_path(id: "axised"), class:"progress-link text-muted axised" %>
		</h4>
	</div>
	<% end %>

	<div class="flex-fill">
	<div class="d-flex justify-content-center progress-secondary headed progress-line">
		<div class="rounded-circle bg-secondary  px-3 py-2 progress-circle headed">
			3
		</div>
	</div>
	<h4 class="m-0 mt-4 p-1 text-center">
		<%= link_to @level_names[3] ,mifal_steps_path(id: "headed"), class:"progress-link text-muted headed" %>
	</h4>
</div>

	<div class="flex-fill">
	<div class="d-flex justify-content-center progress-secondary grouped progress-line">
		<div class="rounded-circle bg-secondary  px-3 py-2 progress-circle grouped">
			4
		</div>
	</div>
	<h4 class="m-0 mt-4 p-1 text-center">
		<%= link_to @level_names[1] ,mifal_steps_path(id: "grouped"), class:"progress-link text-muted grouped" %>
		<%=  %>
	</h4>
</div>

	<div class="flex-fill">
	<div class="d-flex justify-content-center progress-secondary imported_kids progress-line">
		<div class="rounded-circle bg-secondary  px-3 py-2 progress-circle imported_kids">
			5
		</div>
	</div>
	<h4 class="m-0 mt-4 p-1 text-center">
		<%= link_to "ייבוא חניכים" ,mifal_steps_path(id: "imported_kids"), class:"progress-link text-muted imported_kids" %>

	</h4>
</div>
</div>

<script type="text/javascript">
var step = "<%= step %>";
$("a." + step).addClass('text-gradient font-weight-bold')

$(".progress-line").each(function(index, el) {
	$(el).removeClass('progress-secondary').addClass('progress-primary')
	if ($(el).hasClass(step)) {
		return false
	}
});

$(".progress-link").each(function(index, el) {
	$(el).addClass('text-gradient')
	if ($(el).hasClass(step)) {
		return false
	}
});
$(".progress-circle").each(function(index, el) {
	$(el).removeClass('bg-secondary').addClass('bg-primary-cus')
	if ($(el).hasClass(step)) {
		return false
	}
});

</script>
