<h1>יצירת <%= @level_names[3] %></h1>

<%= render layout: 'form' do |form| %>
  <% if @mifal.axes.count == 0 %>
    <h3>אי אפשר ליצור <%= @level_names[3] %> לפני שיש <%= @level_names[5] %>. בבקשה ליצור <%= @level_names[5] %> ולנסות שוב</h3>
  <% end %>
  <% @mifal.axes.each_with_index do |a,i| %>
    <div class="field">
      <% if @mifal.has_axes %>
      <%= form.label "head_num_#{i}".to_sym, "כמה #{@level_names[3]} יש ב#{a.name}?" %>
        <% else %>
        <%= form.label "head_num_#{i}".to_sym, "כמה #{@level_names[3]} יש במפעל?" %>

      <% end %>
      <%= form.number_field "head_num_#{i}".to_sym, value: a.heads.count %>
    </div>
  <% end %>
<% end %>
