<h1>יצירת הראשים</h1>
<%= render layout: 'form' do |form| %>
  <div class="field">
    <%= form.label :head_num, "כמה ראשים יש במפעל?" %>
    <%= form.text_field :head_num, value: @mifal.heads.count %>
  </div>
  <div class="field">
    <%= form.label :head_in_axis_num, "כמה ראשים יש בכל ציר?" %>
    <%= form.text_field :head_in_axis_num %>
  </div>
<% end %>
