<style media="screen">
  form{
    overflow: auto;
    height: 83vh
  }
</style>
<h1 class="mb-5">הגדרות מפעל</h1>
<%= render layout: 'form' do |form| %>
  <!-- <div class="field">
    <%# form.label :has_buses, "צריך ניהול אוטובוסים?" %>
    <div class="container">
      <div class="button-wrap btn-group" >
        <%# form.collection_radio_buttons :has_buses, [[true, '<h1>כן</h1>'.html_safe] ,[false, '<h1>לא</h1>'.html_safe]],
        :first, :last, { checked: @mifal.has_buses } %>
      </div>
    </div>
  </div><hr> -->
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg">
        <div class="field mb-3">
          <%= form.label :has_buses, "צריך ניהול אוטובוסים?" %>
          <div class="container">
            <div class="button-wrap mr-4  marginable" >
              <%= form.collection_radio_buttons :has_buses, [[true, '<h1 id="buses_true" class="true">כן</h1>'.html_safe] ,[false, '<h1 id="buses_false" class="false">לא</h1>'.html_safe]],
              :first, :last, { checked: @mifal.has_buses } %>

            </div>
          </div>
        </div>

        <div class="field mb-3">
          <%= form.label :has_events, "צריך יומן אירועים?" %>
          <div class="container">
            <div class="button-wrap mr-4  marginable">
              <%= form.collection_radio_buttons :has_events, [[true, '<h1 id="events_true" class="true">כן</h1>'.html_safe] ,[false, '<h1 id="events_false" class="false">לא</h1>'.html_safe]],
              :first, :last  %>
            </div>
          </div>
        </div>
        <div class="field mb-3">
          <%= form.label :has_approve, "צריך שהרמה השנייה תאשר נוכחות?" %>
          <div class="container">
            <div class="button-wrap mr-4  marginable">
              <%= form.collection_radio_buttons :has_approve, [[true, '<h1 id="approve_true" class="true">כן</h1>'.html_safe] ,[false, '<h1 id="approve_false" class="false">לא</h1>'.html_safe]],
              :first, :last  %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="field mb-3">
          <%= form.label :has_axes, "צריך רמה שלישית?" %>
          <div class="container">
            <div class="button-wrap mr-4  marginable">
              <%= form.collection_radio_buttons :has_axes, [[true, '<h1 id="axes_true" class="true">כן</h1>'.html_safe] ,[false, '<h1 id="axes_false" class="false">לא</h1>'.html_safe]],
              :first, :last  %>
            </div>
          </div>
        </div>
        <div class="field mb-3">
          <%= form.label :has_late, "צריך אפשרות לסמן איחורים?" %>
          <div class="container">
            <div class="button-wrap mr-4  marginable">
              <%= form.collection_radio_buttons :has_late, [[true, '<h1 id="late_true" class="true">כן</h1>'.html_safe] ,[false, '<h1 id="late_false" class="false">לא</h1>'.html_safe]],
              :first, :last  %>
            </div>
          </div>
        </div>

        <div class="field mb-3">
          <%= form.label :checks_num, "מה תדירות הנוכחות?" %>
          <div class="container">
            <div class="button-wrap mr-4 marginable">
              <%= form.collection_radio_buttons :checks_num, [[true, '<h1 id="checks_num_true" class="true">פעם ביום</h1>'.html_safe] ,[false, '<h1 id="checks_num_false" class="false">שלוש פעמים ביום</h1>'.html_safe]],
              :first, :last  %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<hr>
<script>
  console.log($( window ).width())
  if ($( window ).width() < 1000){
    $(".marginable").addClass("mt-2")
  };
</script>
<div class="container">
  <!-- <div class="field">
      <%# form.label :preset, "בחירת ברירת מחדל:" %>
      <div class="container">
      <%# form.select :preset, value: @mifal.group_name[:single], class: "form-control w-50", required: true%>
    </div> -->
  <div class="row">
    <div class="col">
      <div class="field">
          <%= form.label :group_name_single, "שם הרמה הראשונה ביחיד (למשל קבוצה):" %>
          <div class="container">
          <%= form.text_field :group_name_single, value: @mifal.group_name[:single], class: "form-control w-50", required: true%>
        </div>
      </div>
      <div class="field">
        <%= form.label :group_name_plural, "שם הרמה הראשונה ברבים:" %>
          <div class="container">
        <%= form.text_field :group_name_plural, value: @mifal.group_name[:plural], class: "form-control w-50", required: true %>
      </div>
      </div>
      <div class="field">
        <%= form.label :guide_name_single, "שם האחראי על הרמה הראשונה ביחיד (למשל מדריך):" %>
          <div class="container">
        <%= form.text_field :guide_name_single, value: @mifal.guide_name[:single], class: "form-control w-50", required: true %>
        </div>
      </div>
      <div class="field">
        <%= form.label :guide_name_plural, "שם האחראי על הרמה הראשונה ברבים:" %>
          <div class="container">
        <%= form.text_field :guide_name_plural, value: @mifal.guide_name[:plural], class: "form-control w-50", required: true %>
        </div>
      </div>

        <div class="field axes">
          <%= form.label :axis_name_single, "שם הרמה השלישית ביחיד (למשל ציר):" %>
            <div class="container">
          <%= form.text_field :axis_name_single, value: @mifal.axis_name[:single], class: "form-control w-50" %>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :head_name_single, "שם הרמה השנייה ביחיד (למשל ראש):" %>
          <div class="container">
        <%= form.text_field :head_name_single, value: @mifal.head_name[:single], class: "form-control w-50", required: true %>
        </div>
      </div>
      <div class="field">
        <%= form.label :head_name_plural, "שם הרמה השנייה ברבים:" %>
          <div class="container">
        <%= form.text_field :head_name_plural, value: @mifal.head_name[:plural], class: "form-control w-50", required: true %>
        </div>
      </div>
      <div class="field">
        <%= form.label :head_head_name_single, "שם האחראי על הרמה השנייה ביחיד (למשל ראשראש):" %>
          <div class="container">
        <%= form.text_field :head_head_name_single, value: @mifal.head_head_name[:single], class: "form-control w-50", required: true %>
        </div>
      </div>
      <div class="field">
        <%= form.label :head_head_name_plural, "שם האחראי על הרמה השנייה ברבים:" %>
          <div class="container">
        <%= form.text_field :head_head_name_plural, value: @mifal.head_head_name[:plural], class: "form-control w-50", required: true %>
        </div>
      </div>
        <div class="field axes">
          <%= form.label :axis_name_plural, "שם הרמה השלישית ברבים:" %>
            <div class="container">
          <%= form.text_field :axis_name_plural, value: @mifal.axis_name[:plural], class: "form-control w-50" %>
          </div>
        </div>
    </div>
    </div>
</div>
<hr>
<div class="field">
  <%= form.label :alert_message, "התראה להצגה בשליחת  נוכחות:" %>
  <div class="container">
    <%  if @mifal.alert_message.present? %>
      <% alert_message =  @mifal.alert_message %>
    <% else %>
      <% alert_message = "ראית את החניכים והחניכות בעיניים?"  %>
    <% end %>
    <%= form.text_field :alert_message,class: "form-control", value: alert_message, required: true %>
  </div>
</div>
<hr>
<div class="field">
  <%= form.label :causes, "סיבות אפשריות להיעדרות:" %>
  <a tabindex="0" role="button"  class="text-muted" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="אופציה לאחר כלולה באופן אוטומטי">
      <i class="far fa-question-circle"></i>
  </a>

  <div class="btn btn-primary btn-sm btn-round cause_button" id="cause_button">
    <i class="fas fa-plus"></i>
  </div>
  <div class="container">
    <% if @mifal.causes.present? %>
      <% @mifal.causes.reject{|c| c == "אחר"}.each do |c| %>
        <%= form.text_field :causes, multiple: true, value: c,class: "inline form-control w-25 m-1" %>
      <% end %>
    <% else %>
      <%= form.text_field :causes, multiple: true,class: "inline form-control w-25 m-1" %>
    <% end %>
    <div class="cause inline">
    </div>
    <script>
      $(".cause_button").click(function(){
        $('.cause').append("<%= j (render partial: 'cause', locals: {form:form}) %>")
      });
      $(".delete_button").click(function(){
        $('.cause').remove("<%= j (render partial: 'cause', locals: {form:form}) %>")
      });
    </script>
  </div>
</div>
<hr>
  <div class="field">
    <%= form.label :columns, "איזה מידע צריך להיות על חניכים:" %>

<a tabindex="0" role="button"  class="text-muted" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="שם פרטי, שם משפחה ותעודת זהות כלולים באופן אוטומטי">
    <i class="far fa-question-circle"></i>
</a>
    <div class="container">

      <%= form.collection_check_boxes :columns,
      [["ken", 'קן'], ["grade", "שכבה"], ["sex", "מין"],
      ["phone", "טלפון"], ["medical", "רגישויות ובעיות רפואיות"], ["meds", "תרופות"],
      ["food", "אוכל"], ["comments", "הערות"], ["city", "יישוב"],
      ["parent_1", "שם הורה 1"], ["parent_1_phone", "טלפון הורה 1"],["parent_2", "שם הורה 2"],
      ["parent_2_phone", "טלפון הורה 2"], ["size", "מידת חולצה"], ["shabat", "שומר/ת שבת"],
      ["parents", "הגעת הורים לטקס"], ["swim", "יכולת שחייה"], ["exits", "כניסות ויציאות"]],
      :first, :last %>
    </div>
  </div>

  <hr>

  <% end %>
<style>
.rounded-right{
   border-radius: 0px 40px 40px 0px !important;
}
.rounded-left{
   border-radius: 40px 0px 0px 40px !important;
}

    /* input[type="checkbox"] {
        display: none;
    } */

  /* input[type="radio"]{
    display: block !important;
  } */
</style>
<script>

$( document ).ready(function() {
  $(function () {
    $('[data-toggle="popover"]').popover()
  });
  $('.popover-dismiss').popover({
    trigger: 'focus'
  });
});

mifal_columns = <%= raw @mifal.columns %>
$("input[type='checkbox']").checkboxradio();
$(".ui-button").addClass("m-2").css("width", "250px");
// $('label[for*="mifal_columns_"]').each(function(){
//   var col = $(this).attr("for").replace('mifal_columns_', '');
//   if (mifal_columns.includes(col)){
//     $(this).addClass("btn btn-success m-1").css("width", "200px");
//   }else{
//     $(this).addClass("btn btn-secondary m-1").css("width", "200px");
//   }
// });
// $('label[for*="mifal_columns_"]').click(function() {
//   $(this).toggleClass("btn-success");
//   $(this).toggleClass("btn-secondary");
//
// });
// // $("label").addClass("btn btn-secondary");
$(".true").addClass("btn rounded-right btn-secondary");
$(".false").addClass("btn rounded-left btn-secondary");
var checked_buses = <%= @mifal.has_buses %>;
var checked_events = <%= @mifal.has_events %>;
var checked_approve = <%= @mifal.has_approve %>;
var checked_axes = <%= @mifal.has_axes %>;
var checked_late = <%= @mifal.has_late %>;
var checked_checks_num = <%= @mifal.checks_num %>;
if (checked_buses == true){
  $("#buses_true").addClass("btn-success");
  $("#buses_true").removeClass("btn-secondary");
} else{
  $("#buses_false").addClass("btn-danger");
  $("#buses_false").removeClass("btn-secondary");
};
$("#mifal_has_buses_true").click(function() {
  $("#buses_true").addClass("btn-success").removeClass("btn-secondary");
  $("#buses_false").removeClass("btn-danger").addClass("btn-secondary");
});
$("#mifal_has_buses_false").click(function() {
$("#buses_true").addClass("btn-secondary").removeClass("btn-success");
$("#buses_false").addClass("btn-danger").removeClass("btn-secondary");
});
if (checked_events == true){
  $("#events_true").addClass("btn-success");
  $("#events_true").removeClass("btn-secondary");
} else{
  $("#events_false").addClass("btn-danger");
  $("#events_false").removeClass("btn-secondary");
};
$("#mifal_has_events_true").click(function() {
  $("#events_true").addClass("btn-success").removeClass("btn-secondary");
  $("#events_false").removeClass("btn-danger").addClass("btn-secondary");
});
$("#mifal_has_events_false").click(function() {
$("#events_true").addClass("btn-secondary").removeClass("btn-success");
$("#events_false").addClass("btn-danger").removeClass("btn-secondary");
});
if (checked_approve == true){
  $("#approve_true").addClass("btn-success");
  $("#approve_true").removeClass("btn-secondary");
} else{
  $("#approve_false").addClass("btn-danger");
  $("#approve_false").removeClass("btn-secondary");
};
$("#mifal_has_approve_true").click(function() {
  $("#approve_true").addClass("btn-success").removeClass("btn-secondary");
  $("#approve_false").removeClass("btn-danger").addClass("btn-secondary");
});
$("#mifal_has_approve_false").click(function() {
$("#approve_true").addClass("btn-secondary").removeClass("btn-success");
$("#approve_false").addClass("btn-danger").removeClass("btn-secondary");
});
if (checked_axes == true){
  $("#axes_true").addClass("btn-success");
  $("#axes_true").removeClass("btn-secondary");
} else{
  $(".axes").hide(10);
  $("#axes_false").addClass("btn-danger");
  $("#axes_false").removeClass("btn-secondary");
};
$("#mifal_has_axes_true").click(function() {
  $("#axes_true").addClass("btn-success").removeClass("btn-secondary");
  $("#axes_false").removeClass("btn-danger").addClass("btn-secondary");
  $(".axes").show(200);
});
$("#mifal_has_axes_false").click(function() {
$("#axes_true").addClass("btn-secondary").removeClass("btn-success");
$("#axes_false").addClass("btn-danger").removeClass("btn-secondary");
$(".axes").hide(200);
});
if (checked_late == true){
  $("#late_true").addClass("btn-success");
  $("#late_true").removeClass("btn-secondary");
} else{
  $("#late_false").addClass("btn-danger");
  $("#late_false").removeClass("btn-secondary");
};
$("#mifal_has_late_true").click(function() {
  $("#late_true").addClass("btn-success").removeClass("btn-secondary");
  $("#late_false").removeClass("btn-danger").addClass("btn-secondary");
});
$("#mifal_has_late_false").click(function() {
$("#late_true").addClass("btn-secondary").removeClass("btn-success");
$("#late_false").addClass("btn-danger").removeClass("btn-secondary");
});
if (checked_checks_num == true){
  $("#checks_num_true").addClass("btn-success");
  $("#checks_num_true").removeClass("btn-secondary");
} else{
  $("#checks_num_false").addClass("btn-success");
  $("#checks_num_false").removeClass("btn-secondary");
};
$("#mifal_checks_num_true").click(function() {
  $("#checks_num_true").addClass("btn-success").removeClass("btn-secondary");
  $("#checks_num_false").removeClass("btn-success").addClass("btn-secondary");
});
$("#mifal_checks_num_false").click(function() {
$("#checks_num_true").addClass("btn-secondary").removeClass("btn-success");
$("#checks_num_false").addClass("btn-success").removeClass("btn-secondary");
});

</script>
