<%= simple_form_for(@check) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% names = ["נוכחות בוקר", "נוכחות צהריים", "נוכחות ערב", "תרגיל"] %>
    <%= f.input :name, label: "שם הנוכחות", collection: names, input_html: {required: true} %>
    <%= f.input :group_id, input_html: { value: current_staff.staffable.id }, as: :hidden if @level == 1 %>
    <% causes = ["בבית מסיבות רפואיות ויחזור", "בבית מסיבות רפואיות ולא יחזור", "בבית מסיבות אישיות ויחזור", "בבית מסיבות אישיות ולא יחזור", "פינוי רפואי", "מרפאה", "אחר"] %>
    <br />
    <%= f.simple_fields_for :attendances do |ff| %>
      <div class="check_div">
      <% kid = ff.object.kid %>
      <%= kid.name + " " + kid.last_name %>
      נוכח?
      <%= ff.collection_radio_buttons :status, [["1", 'כן'] ,["0", 'לא']], :first, :last, required: true %>
      <%= ff.input :cause, label: "סיבת היעדרות:", collection: causes, input_html: {style:"display:none;", class: 'check_r' }, label_html: {style:"display:none;", class: 'label_r' } %>
      <%= ff.input :cause, label: "סיבת היעדרות:",                     input_html: {style:"display:none;", class: 'check_o' }, label_html: {style:"display:none;", class: 'label_o' } %>
      <br />
    </div>
    <% end %>
      <%= f.submit 'עדכון פרטים', class: "form-actions", data: {confirm: "ראית את החניכים והחניכות בעיניים?"} %>
  </div>
<% end %>

<script>
$(document).ready(function(){
$('input[type="radio"]').change(function(){
console.log($(this).val())
if($(this).val()==0){
  $(this).closest("div.check_div").find(".check_r").show(400)
  $(this).closest("div.check_div").find(".label_r").show(400)}
else{
  $(this).closest("div.check_div").find(".check_r").hide(400)
  $(this).closest("div.check_div").find(".label_r").hide(400)
  $(this).closest("div.check_div").find(".check_o").hide(400)
  $(this).closest("div.check_div").find(".label_o").hide(400)
  $($(this).closest("div.check_div").find(".check_o")).val("");
  }
});

$(".check_r").change(function(){
$($(this).closest("div.check_div").find(".check_o")).val($(this).val());
console.log($(this).val())
if($(this).val()=="אחר"){
  $(this).closest("div.check_div").find(".check_o").show(400)
  $(this).closest("div.check_div").find(".label_o").show(400)}
else{
  $(this).closest("div.check_div").find(".check_o").hide(400)
  $(this).closest("div.check_div").find(".label_o").hide(400)}
});
});
</script>
