<%= simple_form_for(@check) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% names = ["נוכחות בוקר", "נוכחות צהריים", "נוכחות ערב", "תרגיל"] %>
    <%= f.input :name, label: "שם הנוכחות", collection: names %>
    <% causes = ["בבית מסיבות רפואיות ויחזור", "בבית מסיבות רפואיות ולא יחזור", "בבית מסיבות אישיות ויחזור", "בבית מסיבות אישיות ולא יחזור", "פינוי רפואי", "מרפאה", "אחר"] %>
    <br />
    <%= f.simple_fields_for :attendances do |ff| %>
      <% kid = ff.object.kid %>
      <%= kid.name + " " + kid.last_name %>
      נוכח?
      <%= ff.collection_radio_buttons :status, [["1", 'כן'] ,["0", 'לא']], :first, :last %>
      <%= ff.input :cause, label: "סיבת היעדרות:", collection: causes %>
      <br />
    <% end %>
      <%= f.submit 'עדכון פרטים', class: "form-actions", data: {confirm: "ראית את החניכים והחניכות בעיניים?"} %>
  </div>
<% end %>
