
<h1 class="font-weight-bold">נוכחויות
  <%# link_to "<i class='icon icon-download-solid'></i>".html_safe, checks_path(format: :xls), class: 'p-2 edit text-dark' if !current_staff.user? %>
</h1>
<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<% end %>

<!-- <% if current_staff.vip? %>
<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= submit_tag "מחיקת נוכחויות בתהליך יצירה ישנות", :name => "delete_in_progress", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
<% end %> -->
<style media="screen">
.dropdown-toggle::after {
  display:none;
}
</style>
<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "סינון לפי שם #{ @level_names[0] }...", class: "form-control mr-sm-2" %>
<%= button_tag(type: "submit", :name => nil, class: "btn btn-outline-success my-2 my-sm-0") do %>
  <i class="icon icon-search-solid"></i>
<% end %>
<div class="dropdown mr-2">
  <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="icon icon-filter-solid"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item">
      <%= submit_tag "מכל הזמנים", :name => "show_all", class: "btn btn-outline-success my-2 my-sm-0 bg-transparent border-white text-success" %>
    </a>
    <a class="dropdown-item">
      <%= submit_tag "מהיום האחרון", :name => "hide_all", class: "btn btn-outline-success my-2 my-sm-0 bg-transparent border-white text-success" %>
    </a>
    <% if current_staff.vip? || current_staff.admin? %>
    <a class="dropdown-item">
      <%= submit_tag "#{@level_names[1]}", :name => "groups", class: "btn btn-outline-success my-2 my-sm-0 bg-transparent border-white text-success" %>
    </a>
    <a class="dropdown-item">
      <%= submit_tag "אוטובוסים", :name => "buses", class: "btn btn-outline-success my-2 my-sm-0 bg-transparent border-white text-success" if current_staff.admin? || current_staff.staffable.has_buses %>
    </a>
    <% end %>
  </div>
</div>
<%# submit_tag "חיפוש", id:"search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<%# submit_tag "מכל הזמנים", :name => "show_all", class: "btn btn-outline-success my-2 my-sm-0" %>
<%# submit_tag "מהיום האחרון", :name => "hide_all", class: "btn btn-outline-success my-2 my-sm-0" %>
<%# if current_staff.vip? || current_staff.admin? %>
<%# submit_tag "#{@level_names[1]}", :name => "groups", class: "btn btn-outline-success my-2 my-sm-0" %>
<%# submit_tag "אוטובוסים", :name => "buses", class: "btn btn-outline-success my-2 my-sm-0" if current_staff.admin? || current_staff.staffable.has_buses %>
<%# end %>
<% end %>
<div class="table-responsive">
<table class = "table table-hover" id="dttb">
  <thead class="thead-grey">
    <tr>
        <th>שם</th>
        <th>תאריך</th>
        <% if params[:buses] %>
          <th>אוטובוס</th>
        <% else %>
          <th><%= @level_names[0] %></th>
          <% if current_staff.admin? || current_staff.staffable.mifal.has_approve %>
            <th>מאושר?</th>
          <% end %>
        <% end %>
        <th data-orderable="false"></th>
      </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= link_to check.name, check %></td>
        <td><%= check.created_at.in_time_zone("Jerusalem").strftime("%H:%M | %e.%m") %> </td>
        <% if params[:buses] && check.bus%>
            <td><%= link_to check.bus.name, bus_path(check.bus) %></td>
        <% else %>
          <td>
          <% if check.group %>
            <%= check.group.name %>
          <% end %>
          </td>
        <% end %>
        <% if params[:buses].blank? && (current_staff.admin? || current_staff.staffable.mifal.has_approve) %>
          <td>
            <% if check.approved? %>
              <span style="color:green;">מאושר</span> <i class="icon icon-check-circle-regular"></i>
            <% else %>
              <span style="color:red;">עוד לא מאושר</span>
            <% end %>
          </td>
        <% end %>
        <td>
          <% if check.created_at > 2.hours.ago || @level > 2 %>
            <%= link_to "<i class='icon icon-edit-solid'></i>".html_safe, edit_check_path(check), class: "ml-2 text-muted" %>
            <!-- <span class="text-muted float-left"><%= (check.created_at + 2.hours - DateTime.now).round / 60 %> -> <span class="text-muted"><i class='icon icon-lock'></i></span></span> -->
          <% else %>
            <span class="ml-2 text-muted"><i class='icon icon-lock'></i></span>
          <% end %>
          <%= link_to "<i class='icon icon-trash-alt-regular'></i>".html_safe, check, method: :delete, data: { confirm: 'את/ה בטוח/ה?' }, class:"text-danger" if @level > 1 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
<script>
$( document ).ready(function() {
  $('#dttb').DataTable({
    responsive: true,
    language: {
      url: "/he_he.lang"
    },
    order: [[ 1, "desc" ]],
  });
  $.fn.dataTable.moment( 'HH:mm | DD.MM' );
});
</script>
