<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "סינון לפי שם קבוצה...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= submit_tag "נוכחויות מכל הזמנים", :name => "show_all", class: "btn btn-outline-success my-2 my-sm-0" %>
<%= submit_tag "נוכחויות רק מהיום האחרון", :name => "hide_all", class: "btn btn-outline-success my-2 my-sm-0" %>
<%= submit_tag "נוכחויות של קבוצות", :name => "groups", class: "btn btn-outline-success my-2 my-sm-0" %>
<%= submit_tag "נוכחויות של אוטובוסים", :name => "buses", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>


<% if @checks.blank? %>
  <h4> לא נמצאו נוכחויות </h4>
<% else %>

<%= link_to 'ייצוא הטבלה', checks_path(format: :xls), class: "btn btn-primary" if !current_staff.user? %>

<h1>נוכחויות</h1>

<div class="table-responsive">
<table class = "table table-hover" id="dttb">
  <thead class="thead-dark">
    <tr>
        <th>שם</th>
        <th>תאריך</th>
        <% if params[:buses] %>
          <th>אוטובוס</th>
        <% else %>
          <th>קבוצה</th>
          <th>מאושר?</th>
        <% end %>
        <th>הצגה</th>
        <th>עריכה</th>
        <% if @level > 1 %>
          <th>מחיקה</th>
        <% end %>
      </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.name %></td>
        <td><%= check.created_at.in_time_zone("Jerusalem").strftime("%H:%M | %e.%m") %> </td>
        <% if params[:buses] && check.bus%>
            <td><%= link_to check.bus.name, bus_path(check.bus), class: "btn btn-primary" %></td>
        <% else %>
          <td>
          <% if check.group %>
            <%= link_to check.group.name, group_path(check.group) %>
          <% end %>
          </td>
        <% end %>
        <% unless params[:buses] %>
        <td>
          <% if check.approved? %>
            <span style="color:green;">מאושר</span> <i class="fa fa-check-circle"></i>
          <% else %>
            <span style="color:red;">עוד לא מאושר</span>
          <% end %>
        </td>
        <% end %>
        <td><%= link_to 'הצגה', check, class: "btn btn-primary" %></td>
        <td><%= link_to 'עריכה', edit_check_path(check), class: "btn btn-warning" %></td>
        <% if @level > 1 %>
          <td><%= link_to 'מחיקה', check, method: :delete, data: { confirm: 'את/ה בטוח/ה שאת/ה רוצה למחוק את הנוכחות הזאת?' }, class: "btn btn-danger"  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
<script>
$( document ).ready(function() {
  $('#dttb').DataTable({
    responsive: true,
    language: {
      url: "/he_he.lang"
    },
    order: [[ 1, "desc" ]],
  });
  $.fn.dataTable.moment( 'HH:mm | DD.MM' );
});
</script>
