<p id="notice"><%= notice %></p>

<%= form_tag(checks_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
<%= text_field_tag :search, params[:search], placeholder: "חיפוש...", class: "form-control mr-sm-2" %>
<%= submit_tag "חיפוש", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<% if @checks.blank? %>
  <h4>אין נוכחויות שתואמות את החיפוש <%= params[:search] %>.</h4>
<% else %>

<h1>נוכחויות</h1>

<div class="table-responsive-lg">
<table class = "table table-hover">
  <thead class="thead-light">
    <tr>
        <th>שם</th>
        <th>תאריך</th>
        <th>קבוצה</th>
        <th>הצגה</th>
        <th>עריכה</th>
        <% if current_staff.admin? %>
          <th>מחיקה</th>
        <% end %>
      </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.name %></td>
        <td><%= check.created_at.strftime("%d.%-m") %> </td>
        <% if check.kids.exists? %>
          <td><%= link_to check.my_group.name, group_path(check.my_group), class: "btn btn-primary" %> </td>
        <% end %>
        <td><%= link_to 'הצגה', check, class: "btn btn-primary" %></td>
        <td><%= link_to 'עריכה', edit_check_path(check), class: "btn btn-warning" %></td>
        <td><%= link_to 'מחיקה', check, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if current_staff.admin?  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
