<p id="notice"><%= notice %></p>

<h1>נוכחויות</h1>

<div class="table-responsive-lg">
<table class = "table table-hover">
  <thead class="thead-light">
    <tr>
        <th>שם</th>
        <th>תאריך</th>
        <th>קבוצה</th>
        <th>הצגה</th>
        <th>עריכה</th>
        <th>מחיקה</th>
      </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.name %></td>
        <td><%= check.created_at.strftime("%d.%-m") %> </td>
        <% if check.kids.exists? %>
          <td><%= link_to check.my_group.name, group_path(check.my_group), class: "btn btn-primary" %> </td>
        <% end %>
        <td><%= link_to 'הצגה', check, class: "btn btn-primary" %></td>
        <td><%= link_to 'עריכה', edit_check_path(check), class: "btn btn-warning" %></td>
        <td><%= link_to 'מחיקה', check, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
