<p id="notice"><%= notice %></p>

<p>
  <strong>שם:</strong>
  <%= @check.name %>
</p>

<p>
  <strong>קבוצה:</strong>
  <%= @check.group_id %>
</p>

<p>
  <strong>חניכים:</strong>
  <div class="table-responsive-lg">
  <table class = "table table-hover">
    <thead class="thead-light">
      <tr>
        <th>שם</th>
        <th>סטטוס</th>
        <th>סיבה</th>
        <th>עריכה</th>
        <% if current_staff.admin? %>
          <th>מחיקה</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @check.kids.each do |kid|%>
        <tr>
          <td><%= link_to kid.name + " " + kid.last_name, kid, class: "btn btn-primary" %></td>
          <td>
            <%= if (@check.attendances & kid.attendances).first.status == 1
              "נוכח/ת"
            else
              "לא נוכח/ת"
            end %></td>
          <td><%= (@check.attendances & kid.attendances).first.cause %></td>
          <td><%= link_to 'עריכה', edit_kid_path(kid), class: "btn btn-warning" %></td>
          <td><%= link_to 'מחיקה', kid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if current_staff.admin? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</p>
<%= link_to 'עריכה', edit_check_path(@check), class: "btn btn-primary" %>
<%= link_to 'חזרה לרשימת הנוכחויות', checks_path, class: "btn btn-primary" %>
