<p>
  <strong>שם:</strong>
  <%= @check.name %>
  <%= @check.created_at.strftime("%e.%m") %>
</p>

  <% if @check.bus_id.blank? %>
    <p><strong><%= @level_names[0] %>:</strong>
    <%= Group.find(@check.group_id).name %></p>
    <p><strong>סטטוס:</strong>
    <% if @check.approved? %>
    <span style="color:green;">מאושר</span> <i class="fa fa-check-circle"></i>
    <% else %>
    <span style="color:red;">עוד לא מאושר</span>
    <% end %></p>
  <% elsif @check.group_id.blank? %>
  <strong>אוטובוס:</strong>
  <%= Bus.find(@check.bus_id).name %>
  <% end %>

<p>
  <strong> נוצר בשעה: </strong>
  <%= @check.created_at.in_time_zone("Jerusalem").strftime("%H:%M") %>
</p>


<div>
  <% counter = 0 %>
  <% @check.attendances.each do |attendance| %>
    <% counter += attendance.status if !attendance.status.nil? %>
  <% end %>
  <%= counter %> מתוך <%= @check.kids.count %> נוכחים
</div>

<!-- <% if @level > 1 %>
  <button type="button" class="btn btn-success" id="show"> הצגת הנוכחות הקודמת </button>
<% end %> -->

<p>
  <strong>חניכים:</strong>
  <div class="table-responsive">
  <table class = "table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>שם</th>
        <th>סטטוס</th>
        <th>סיבה</th>
        <!-- <% if @check.previous_check %> -->
          <!-- <th class="previous" style="display:none;">סטטוס קודם</th>
          <th class="previous" style="display:none;">סיבה קודמת</th> -->
        <!-- <% end %> -->
        <% if current_staff.admin? %>
          <th>עריכה</th>
          <th>מחיקה</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @check.kids.order("name ASC").each do |kid|%>
        <tr>
          <td><%= link_to kid.full_name, kid %></td>
          <td>
            <%= case @check.attendances.find_by(kid_id: kid.id).status
            when 0
              heb_status = "לא נוכח/ת"
            when 1
              heb_status = "נוכח/ת"
            when 2
              heb_status = "איחר/ה"
            end %>
            <!-- <% if @check.attendances.find_by(kid_id: kid.id).status == 1 %>
              <%= string1 = "נוכח/ת" %>
            <% else %>
              <%= string1 = "לא נוכח/ת" %>
            <% end %> -->
          </td>
          <td><%= @check.attendances.find_by(kid_id: kid.id).cause %></td>
          <!-- <td class="previous" style="display:none;">
            <%# if @check.previous_check %>
              <%# if @check.previous_check.attendances.find_by(kid_id: kid.id).status == 1  %>
                <%# if string1 == "נוכח/ת" %>
                  <span style="color:green;">נוכח/ת</span>
                <%# else %>
                  <span style="color:red;">נוכח/ת</span>
                <%# end %>
              <%# else %>
              <%# if string1 == "לא נוכח/ת" %>
                <span style="color:green;">לא נוכח/ת</span>
              <%# else %>
                <span style="color:red;">לא נוכח/ת</span>
              <%# end %>
              <%# end %></td>
              <td class="previous" style="display:none;"><%# @check.previous_check.attendances.find_by(kid_id: kid.id).cause %></td>
            <%# end %> -->
          <% if current_staff.admin? %>
            <td><%= link_to 'עריכה', edit_kid_path(kid), class: "btn btn-warning" %></td>
            <td><%= link_to 'מחיקה', kid, method: :delete, data: { confirm: 'את/ה בטוח/ה?' }, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</p>
<%= link_to 'עריכה', edit_check_path(@check), class: "btn btn-primary" %>
<%= link_to 'חזרה לרשימת הנוכחויות', checks_path, class: "btn btn-primary" %>
<%= link_to 'מחיקה', @check, method: :delete, data: { confirm: 'את/ה בטוח/ה שאת/ה רוצה למחוק את הנוכחות הזאת?' }, class: "btn btn-danger" %>

<% if @level > 1 %>
  <% if !@check.approved? %>
    <%= form_for @check do |f| %>
      <%= f.hidden_field :approved, value: true %>
      <%= f.submit 'שינוי סטטוס - מאושר', class: 'btn btn-primary' %>
    <% end %>
    <% else %>
    <%= form_for @check do |f| %>
      <%= f.hidden_field :approved, value: false %>
      <%= f.submit 'שינוי סטטוס - לא מאושר', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

<script>
  $( "#show" ).on( "click", function( event ) {
  $( ".previous" ).show(10);
  });
</script>
