<%= simple_form_for(@bus) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "שם" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>


<!-- f.association :kids, label_method: Kid.pluck(:city).uniq, value_method: kid.where("city: ?", label_method), include_blank: false -->
