<script>
    $(document).ready(function() {
       $(".select").select2({
          language: "he",
          theme: "bootstrap"
      }); });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>

<style media="screen">
  .field{
    padding-left: 15px;
  }
</style>

<%= form_with model: @bus, local: true, id: "pop-form", class: "form-inline my-2 my-lg-0" do |form| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bus.errors.count, "error") %>
        prohibited this bus from being saved:
      </h2>
      <ul>
        <% @bus.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "שם" %>
    <%= form.text_field :name, required: :true %>
  </div>
  <div class="field">
    <%= form.label :city, "ערים שהאוטובוס עוצר בהם: " %>
    <% cities = @mifal.kids.pluck(:city).uniq %>
    <%= form.select :city, options_for_select(cities), {}, {multiple: true, class: "select", style: "width: 100%"} %>
  </div>
  <div class="field">
    <%= form.label :ken, "קנים שהאוטובוס עוצר בהם: " %>
    <% kens = @mifal.kids.pluck(:ken).uniq %>
    <%= form.select :ken, options_for_select(kens), {}, {multiple: true, class: "select", style: "width: 100%"} %>
  </div>
  <div class="field">
    <%= form.label :group, "#{@level_names[1]} של המפעל שעולות על האוטובוס: " %>
    <% excluded = @mifal.groups.where("name LIKE :prefix", prefix: "סל מחזור%").first.name %>
    <% groups = @mifal.groups.pluck(:name).reject { |x| excluded.include?(x) } %>
    <%= form.select :group, options_for_select(groups), {}, {multiple: true, class: "select", style: "width: 100%"} %>
  </div>
  <div class="field">
    <%= form.label :kid_ids, "החניכים: (מתעדכן לאחר שמירה)" %>
    <% kids = @mifal.kids %>
    <%# form.select :kid_ids, options_for_select(kids), {}, {multiple: true, class: "select"} %>
    <%= form.collection_select(:kid_ids, @mifal.kids, :id, :full_name, {}, {multiple: true, class: "select", style: "width: 100%"}) %>
  </div>
  <div class="form-actions">
    <%= form.submit "המשך", class: "btn btn-primary-cus" %>
  </div>
<% end %>
