<script>
    $(document).ready(function() {
       $(".select").select2({
          language: "he",
          theme: "bootstrap"
      }); });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>

<%= form_with model: @bus, local: true, id: "pop-form", class: "form-inline my-2 my-lg-0" do |form| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bus.errors.count, "error") %>
        prohibited this bus from being saved:
      </h2>
      <ul>
        <% @bus.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "שם" %>
    <%= form.text_field :name, required: :true %>
  </div>
  <div class="field">
    <%= form.label :city, "התחנות שהאוטובוס עוצר בהם: " %>
    <% places = @mifal.kids.pluck(:city).uniq %>
    <% @mifal.kids.pluck(:ken).uniq.each { |p| places << p } %>
    <%= form.select :city, options_for_select(places), {}, {multiple: true, class: "select"} %>
  </div>
  <div class="form-actions">
    <%= form.submit "המשך", class: "btn btn-primary" %>
  </div>
<% end %>
