<h1 class="font-weight-bold">אוטובוסים</h1>
<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-buses" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="bus_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="last_stop" data-orderable="false">תחנה אחרונה</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>
  </table>
</div>

<% if current_staff.vip? %>
  <% if current_staff.staffable_type == "Mifal" %>
    <% mifal = Mifal.find(current_staff.staffable.id) %>
  <% else %>
    <% mifal = Mifal.find(current_staff.staffable.mifal.id) %>
  <% end %>
  <%= link_to 'יצירת אוטובוס חדש', new_bus_path %>
  <button class="btn" id="prop" >הצגה והסתרה של הצעת צירי הנסיעה</button>
  <div class="prop" style="display: none;">
    <h2>הצעה לצירי אוטובוס</h2>
    <ul>
      <% if mifal.bus_proposal.present? %>
        <% mifal.bus_proposal.each do |a| %>
          <%= bus = "" %>
          <% a[1][0].each { |x| bus += "#{x[0]}(#{x[1]}), "} %>
          <% bus += "#{a[1][1]} חניכים וחניכות, " %>
          <% bus += "#{a[1][2].to_i} ק''מ אווירי" %>
          <li> <%= bus %> </li>
        <% end %>
      <% end %>
    </ul>
    <%= button_to 'הצעה חדשה לאוטובוסים', prop_path, method: :get, params: { id: mifal.id}, data: { confirm: 'אנחנו עובדים על זה ברקע. אפשר לסגור את החלון ולחזור עוד כמה דקות' } %>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#prop").click(function(){
      $(".prop").toggle(400);
    });
  });
</script>
