<h1>יצירת אוטובוס חדש</h1>


<script>
    $(document).ready(function() {
       $(".select").select2({
          language: "he",
          theme: "bootstrap"
      }); });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>


<%= form_tag(buses_path, :method => "post", id: "pop-form", class: "form-inline my-2 my-lg-0") do %>
  <div class="form-inline">
    <%= label_tag 'bus_name', "שם האוטובוס: " %>
    <%= text_field(:bus, :name) %>
  </div>
  <div class="form-inline">
    <%= label_tag 'city[]', "התחנות שהאוטובוס עוצר בהם: " %>
    <%= select_tag "city", options_for_select(Kid.pluck(:city).uniq), multiple: true, class: "select" %>
  </div>
  <%= submit_tag "הוספה", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<%= link_to 'אחורה', buses_path %>
