<h1 style="font-weight:bold;"><i class="fa fa-chevron-left"></i> <%= @bus.name %> </h1>

<% unless @bus.kids.blank? %>
  <% counter = how_many_attending(@bus.kids) %>
  יש <%= counter %> חניכימות נוכחימות מתוך <%= @bus.kids.count %>
  <% percent = (counter.to_f / @bus.kids.count.to_i * 100).to_i %>
  <% width = "width:#{percent}%" %>
  <div class="progress">
    <div class="progress-bar" role="progressbar"  style=<%= width %>
      aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= percent %>% נוכחות</div>
    </div>
<% end %>

<p>
  <div class="table-responsive-lg">
    <table class="table table-hover" id="dttb-kids" data-sort="true"
                        data-source="<%= url_for(format: :json, controller: 'kids', bus_id: @bus.id)%>">
      <thead class="thead-dark">
        <tr>
          <th data-data="full_name">שם</th>
          <th data-data="ken">קן</th>
          <th data-data="city">יישוב</th>
          <th data-data="exits">כניסות ויציאות</th>
          <th data-data="status">סטטוס</th>
          <th data-data="cause">סיבה</th>
          <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
        </tr>
      </thead>

    </table>
  </div>
</p>

<%= link_to "יצירת נוכחות חדשה", new_check_path(:bus => @bus.id), class: "btn btn-primary"%>
<%= link_to "עריכת נוכחות אחרונה", edit_check_path(@bus.checks.last), class: "btn btn-primary" unless @bus.checks.blank? %>
<%= link_to 'עריכה', edit_bus_path(@bus) %> |
<%= link_to 'אחורה', buses_path %>
