
<p>
  <strong>שם:</strong>
  <%= @bus.name %>
</p>

<% counter = how_many_attending(@bus.kids) %>
 יש <%= counter %> חניכימות נוכחימות מתוך <%= @bus.kids.count %>
 <% percent = (counter.to_f / @bus.kids.count.to_i * 100).to_i %>
 <% width = "width:#{percent}%" %>
 <div class="progress">
  <div class="progress-bar" role="progressbar"  style=<%= width %>
    aria-valuenow="#{percent}" aria-valuemin="0" aria-valuemax="100"><%= percent %>% נוכחות</div>
</div>

<p>
  <strong>חניכים:</strong>
  <div class="table-responsive">
  <table class = "table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>שם</th>
        <th>קן</th>
        <th>סטטוס עדכני</th>
        <th>סיבה</th>
        <% if current_staff.admin? %>
          <th>עריכה</th>
          <th>מחיקה </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @bus.kids.each do |kid|%>
        <tr>
          <td><%= link_to kid.name + " " + kid.last_name, kid %></td>
          <td><%= kid.ken %></td>
            <td><%= if kid.status == 1
              "נוכח/ת"
            else
              "לא נוכח/ת"
            end %></td>
            <td><%= kid.cause %></td>
            <% if current_staff.admin? %>
              <td><%= link_to 'עריכה', edit_kid_path(kid), class: "btn btn-warning" %></td>
              <td><%= link_to 'מחיקה', kid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</p>
<%= link_to "יצירת נוכחות חדשה", new_check_path(:bus => @bus.id), class: "btn btn-primary"%>
<%= link_to "עריכת נוכחות אחרונה", edit_check_path(@bus.checks.last), class: "btn btn-primary" unless @bus.checks.blank? %>
<%= link_to 'עריכה', edit_bus_path(@bus) %> |
<%= link_to 'אחורה', buses_path %>
