  <% if mobile_device? %>
    <div class="card-deck mx-2 mt-4 ">
      <div class="card-header mb-2" style="background-color: #54ffefa6; position: relative; width: 100%;">
    <!-- true -->
  <% else %>
    <div class="card-deck mr-2 mt-4">
      <div class="card-header" style="background-color: #54ffefa6; position: relative; width: 13%;">
  <% end %>
      <h5 class="card-title text-wrap"><%= head.name %></h5>
      <div class="cadrd-footer" style="position: absolute; bottom: 12px;">
        <strong class='card-text'> <%= how_many_attending(head.kids) %> </strong> מתוך <strong> <%= head.kids.count %> </strong>
      </div>
    </div>
    <% head.groups.order(:hard_name).includes(:kids).each do |group| %>
      <div class="card w-50">
        <% if group.checks.exists? %>
          <% if group.checks.order(created_at: :asc).last.approved? %>
            <div class="card-header bg-success">
              <h5 class="card-title"><%= link_to group.name, group, class: "text-white" %> <i class='icon icon-check-circle-regular text-white'></i></h5>
            </div>
          <% else %>
          <div class="card-header bg-danger">
            <h5 class="card-title"><%= link_to group.name, group, class: "text-white" %></h5>
          </div>
          <% end %>
        <% else %>
        <div class="card-header">
          <h5 class="card-title"><%= link_to group.name, group, class: "text-dark" %></h5>
        </div>
        <% end %>
        <div class="card-body">
          <div class="">
            <% if group.checks.present? %>
            <% last_check = group.checks.order(created_at: :asc).last %>
              <p class="card-text float-right">נוכחות אחרונה: <%= last_check.name %> <%= last_check.updated_at.strftime('%d/%m') %> </p>
              <% if group.checks.order(created_at: :asc).last.kids.where(status: 0).count > 0 %>
                <a class="float-left" data-toggle="collapse" href="#collapseExample<%= group.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="icon icon-chevron-down-solid"></i>
                </a>
              <% end %>
            <% else %>
              <p class="card-text float-right">לא נעשתה עדיין נוכחות</p>
            <% end %>
          </div>
          <br> <br>
          <div class="collapse" id="collapseExample<%= group.id %>">
            <div class="card card-body">
              <p class="card-text">לא נוכחים:</p>
              <ol class="show-kids mr-2">
                <% group.kids.where(status: 0).each do |kid| %>
                <li> <%= kid.full_name %> </li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <strong class='card-text'> <%= how_many_attending(group.kids) %> </strong> מתוך <strong> <%= group.kids.count %> </strong>
          <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        </div>
      </div>
    <% end %>
  </div>
