<% if mobile_device? %>
	<h1><%= @level_names[level + 1] %>
		<%= link_to mifal_steps_path(id: link), class: "btn btn-primary-cus-outline font-weight-bold btn-round" do %>
			<i class="icon icon-plus-solid align-middle"></i>
		<% end %>
	</h1>
<% else %>
	<h1><%= @level_names[level + 1] %></h1>
	<%= link_to mifal_steps_path(id: link), class: "btn btn-primary-cus-outline font-weight-bold mx-3" do %>
		<i class="icon icon-plus-solid"></i>
		<span>הוספת <%= @level_names[level] %></span>
	<% end %>
<% end %>
