<% if staff_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <div class="d-flex flex-row justify-content-between">
    <div class="p-2">
      <div class="dropdown user-position-mobile">
        <button type="button" class="dropdown-toggle btn btn-light border-dark bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle text-white icon-size mt-1"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <div class="font-weight-bold dropdown-element" >
            שלום <%= current_staff.name %> <br>
          </div>
          <div class="dropdown-element">
            <%= link_to "עריכת משתמש", edit_staff_registration_path %>

          </div>
          <div class="dropdown-element">
            <% case @level %>
            <% when 1 %>
            <%= link_to "עריכת שם ה#{@level_names[0]}", edit_group_path(current_staff.staffable.id) %>
            <% when 2 %>
            <%= link_to "עריכת שם ה#{@level_names[2]}", edit_head_path(current_staff.staffable.id)%>
            <% when 3 %>
            <%= link_to "עריכת שם ה#{@level_names[4]}", edit_axis_path(current_staff.staffable.id)%>
            <% when 4 %>
            <%= link_to "עריכת שם המפעל", edit_mifal_path(current_staff.staffable.id)%>
            <% end %>
          </div>
          <div class="dropdown-element">
            <%= link_to "התנתקות", destroy_staff_session_path, method: :delete%>
          </div>
          <div class="dropdown-element">
            <%= error_btn %>
          </div>
        </div>
      </div>

    </div>
    <div class="p-2">
      <%= link_to "מטה", root_path, class: "navbar-brand" %>

    </div>
    <div class="p-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <%= link_to "בית", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "כל החניכות והחניכים", kids_path, class: "nav-link" %>
      </li>
      <% if @level == 2 %>
        <li class="nav-item ">
          <%= link_to "ה#{ @level_names[1] } שלי", root_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item ">
        <%= link_to "נוכחויות", checks_path, class: "nav-link" %>
      </li>
      <% if current_staff.admin? || current_staff.vip? %>
        <li class="nav-item ">
          <%= link_to "כל המשתמשים", staffs_path, class: "nav-link" %>
        </li>
        <% end %>
        <% if current_staff.admin? %>
        <li class="nav-item ">
          <%= link_to "מפעלים", mifals_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_staff.admin? || current_staff.vip? %>
        <% if current_staff.admin? || current_staff.staffable.has_axes %>
          <li class="nav-item ">
            <%= link_to "#{@level_names[5]}", axes_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item ">
          <%= link_to "#{@level_names[3]}", heads_path, class: "nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "#{ @level_names[1] }", groups_path, class: "nav-link" %>
        </li>
        <% if current_staff.admin? || current_staff.staffable.has_buses %>
            <li class="nav-item ">
              <%= link_to "אוטובוסים", buses_path, class: "nav-link" %>
            </li>
        <% end %>
      <% end %>
      <% if current_staff.admin? || (current_staff.staffable.mifal.has_events) %>
        <li class="nav-item ">
          <%= link_to "יומן אירועים", events_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if !current_staff.admin? && (current_staff.staffable.mifal.checks_num) %>
        <li class="nav-item ">
          <%= link_to "מעקב היעדרויות", stats_kids_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_staff.vip? %>
        <li class="nav-item ">
          <%= link_to "סל מחזור", group_path(Group.find_by(hard_name: "סל מחזור #{current_staff.staffable.name}")), class: "nav-link" if Group.find_by(hard_name: "סל מחזור #{current_staff.staffable.name}").present? %>
        </li>
        <li class="nav-item ">
          <%= link_to "אשף יצירת מפעל", mifal_steps_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>

  </div>
</nav>
<% end %>
