<% if staff_signed_in? %>
  <div id="sidebar-wrapper">
    <div class="sidebar-brand">
        <%= link_to image_tag("logo.png", height: '50'), root_path, class: "navbar-brand" %>
    </div>
    <ul class="sidebar-nav">
      <% if @level == 1 %>
        <li class="nav-item">
          <%= link_to "החניכים והחניכות", group_path(Group.find(current_staff.staffable_id)), class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "כל החניכים והחניכות", kids_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_staff.admin? || current_staff.vip? %>
        <% if current_staff.admin? || current_staff.staffable.has_axes %>
          <li class="nav-item ">
            <%= link_to "#{@level_names[5]}", axes_path, class: "nav-link" %>
          </li>
        <% end %>
      <li class="nav-item ">
        <%= link_to "#{@level_names[3]}", heads_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "#{ @level_names[1] }", groups_path, class: "nav-link" %>
      </li>
      <% if current_staff.admin? || current_staff.staffable.has_buses %>
          <li class="nav-item ">
            <%= link_to "אוטובוסים", buses_path, class: "nav-link" %>
          </li>
      <% end %>
      <% end %>
      <% if @level == 2 %>
        <li class="nav-item ">
          <%= link_to "ה#{ @level_names[1] } שלי", root_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item ">
        <%= link_to "נוכחויות", checks_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "צוות", staffs_path, class: "nav-link" %>
      </li>
      <% if current_staff.admin? %>
        <li class="nav-item ">
          <%= link_to "מפעלים", mifals_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if current_staff.admin? || (current_staff.staffable.mifal.has_events) %>
        <li class="nav-item ">
          <%= link_to "יומן אירועים", events_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if !current_staff.admin? && (current_staff.staffable.mifal.checks_num) %>
        <li class="nav-item ">
          <%= link_to "מעקב היעדרויות", stats_kids_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_staff.vip? %>
      <li class="nav-item ">
        <%= link_to "סל מחזור", group_path(Group.find_by(hard_name: "סל מחזור #{current_staff.staffable.name}")), class: "nav-link" if Group.find_by(hard_name: "סל מחזור #{current_staff.staffable.name}").present? %>
      </li>
      <li class="nav-item ">
        <%= link_to "אשף יצירת מפעל", mifal_steps_path(id: current_staff.staffable.mifal.next_stage), class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "הגדרות מפעל", mifal_steps_path(id:  "settings", not_new: true), class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
