<% if staff_signed_in? %>
            <div id="sidebar-wrapper">
              <div class="sidebar-brand">
                <%= link_to root_path do %>
                  <h1>המטה</h1>
                  <% end %>
              </div>
              <ul class="sidebar-nav">
              <li class="nav-item">
                <%= link_to "כל החניכות", kids_path, class: "nav-link" %>
              </li>
              <% if @level == 2 %>
                <li class="nav-item ">
                  <%= link_to "הקבוצות שלי", root_path, class: "nav-link" %>
                </li>
              <% end %>
              <li class="nav-item ">
                <%= link_to "נוכחויות", checks_path, class: "nav-link" %>
              </li>
              <% if current_staff.admin? %>
                <li class="nav-item ">
                  <%= link_to "כל המשתמשים", staffs_path, class: "nav-link" %>
                </li>
                <li class="nav-item ">
                  <%= link_to "מפעלים", mifals_path, class: "nav-link" %>
                </li>
              <% end %>
                <% if current_staff.admin? || current_staff.vip? %>
                <li class="nav-item ">
                  <%= link_to "צירים", axes_path, class: "nav-link" %>
                </li>
                <li class="nav-item ">
                  <%= link_to "ראשים", heads_path, class: "nav-link" %>
                </li>
                <li class="nav-item ">
                  <%= link_to "קבוצות", groups_path, class: "nav-link" %>
                </li>
                <li class="nav-item ">
                  <%= link_to "אוטובוסים", buses_path, class: "nav-link" %>
                </li>
                <% end %>
                <% if @level > 1 %>
                <li class="nav-item ">
                  <%= link_to "יומן אירועים", events_path, class: "nav-link" %>
                </li>
                <% end %>
                <% if current_staff.vip? %>
                <li class="nav-item ">
                  <%= link_to "אשף יצירת מפעל", mifal_steps_path, class: "nav-link" %>
                </li>
                <% end %>
                </ul>
                <br><br>
                <span class="navbar-text" style="color: lightgray;width:100%;text-align:center;border-top:1px solid white;padding-top:30px;font-family:'Secular One', sans-serif;">
                  שלום <%= current_staff.name %> <br>
                </span>
                <ul class="sidebar-nav">
                  <li class="nav-item ">
                    <%= link_to "עריכת משתמש", edit_staff_registration_path, class: "nav-link" %>
                  </li>
                  <% case @level
                    when 1 %>
                      <li class="nav-item ">
                        <%= link_to "עריכת שם הקבוצה", edit_group_path(current_staff.staffable.id), class: "nav-link" %>
                      </li>
                    <% when 2 %>
                      <li class="nav-item ">
                        <%= link_to "עריכת שם הראש", edit_head_path(current_staff.staffable.id), class: "nav-link" %>
                      </li>
                    <% when 3 %>
                      <li class="nav-item ">
                        <%= link_to "עריכת שם הציר", edit_axis_path(current_staff.staffable.id), class: "nav-link" %>
                      </li>
                    <% when 4 %>
                      <li class="nav-item ">
                        <%= link_to "עריכת שם המפעל", edit_mifal_path(current_staff.staffable.id), class: "nav-link" %>
                      </li>
                  <% end %>
                  <li class="nav-item ">
                    <%= link_to "התנתקות", destroy_staff_session_path, method: :delete, class: "nav-link" %>
                  </li>
                  <li class="nav-item ">
                    <%= error_btn %>
                  </li>
                </ul>

      </div>
    <% end %>
