<!DOCTYPE html>
<html>
  <head>
    <title>מטה</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/7a4797d373.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <!-- <%= render 'layouts/navbar' %> -->
    <div id="wrapper">

      <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

                    <li class="sidebar-brand">
                      <%= link_to root_path do %>
                        <h2>המטה</h2>
                        <% end %>
                    </li>
                    <% if staff_signed_in? %>
                      <% if current_staff.admin? %>
                      <li class="nav-item active">
                        <%= link_to "נוכחויות", checks_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item active">
                        <%= link_to "צירים", axes_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item active">
                        <%= link_to "ראשים", heads_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item active">
                        <%= link_to "קבוצות", groups_path, class: "nav-link" %>
                      </li>
                      <% end %>
                        <li class="nav-item active">
                          <%= link_to "כל החניכות", kids_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item active">
                          <%= link_to "התנתקות", destroy_staff_session_path, method: :delete, class: "nav-link" %>
                        </li>
                        <% end %>
                </ul>
                <span class="navbar-text" style="color: white;">
                  שלום <%= current_staff.name %>
                </span>
            </div>

        <div id="page-content-wrapper">
            <div class="container" align="right">
            <%= yield %>
          </div>
        </div>

    </div>
  </body>
</html>
