<!DOCTYPE html>
<html lang="he">
  <head>
    <title>המטה</title>
    <%= render 'application/favicon' %>
    <meta property="og:title" content="אפליקציית המטה" />
    <meta property="og:description" content="רישום נוכחות מעולם לא היה קל יותר!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('logo.png') %>" />
    <%= csrf_meta_tags %>
    <!-- <script src="https://use.fontawesome.com/7a4797d373.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/61c1a40a3c.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
    <script async defer data-domain="mate.codecircle.co.il" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body>


<% unless mobile_device? %>
    <% if staff_signed_in? %>
		<div id="wrapper">
		<div class="grid-container">
    <div class="header">
      <%= render 'layouts/pcNavbar' %>
  </div>
	<div class="side">
		<%= render 'layouts/sidebar'%>
	</div>
	<div class="main">
		<div id="page-content-wrapper" class="amr-2">
			<%= yield %>
		</div>
	</div>
</div>
</div>
<% else %>
<div class="d-flex justify-content-center w-100">
	<div id="page-content-wrapper" class="d-flex  flex-column align-items-center justify-content-center">

		<%= yield %>
	</div>
</div>
  <% end %>
	<%# unless  current_page?(controller: "sessions", action: "new")  %>
	<%# end %>
<% else %>
  <%= render 'layouts/navbar' %>
  <div id="wrapper">
  <div id="page-content-wrapper" >
    <%= yield %>
    <!-- <div id="error_btn">
      <%# error_btn %>
    </div> -->
  </div>
<% end %>

    </div>
  </body>
</html>

<script type="text/javascript">
$(".nav-item").click(function(){
  $(".nav-item").removeClass("active");
  $(this).addClass("active");
});
</script>
