<!DOCTYPE html>
<html>
  <head>
    <title>מטה</title>
    <meta property="og:title" content="מטה מפעל של השומר הצעיר" />
    <meta property="og:description" content="אפליקציית מטה למפעלי התנועה, נבנה על ידי מעגל הקוד השומרי" />
    <meta property="og:type" content="website" />
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/7a4797d373.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
        <div id="page-content-wrapper">
            <div>
              <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>

<script type="text/javascript">
$(".nav-item").click(function(){
  $(".nav-item").removeClass("active");
  $(this).addClass("active");
});
</script>
